<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button"
    title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i
        class="fas fa-arrow-alt-circle-up"></i></a>
<footer class="container fbg">
    <div class="container">
        <div class="row pt-5 justify-content-center">
            <div class="col-sm px-5">
                <div class="logo-part">
                    <img src="/img/footer-logo.png" class="w-50 logo-footer">
                    <br><br>  
                    {{#ifCond language 'EN'}}                
                    <p class="ftext">The website belongs to Ministry of New and Renewable Energy (MNRE), Government of
                        India. Content displayed are for reference purpose only. All efforts have been made to make the
                        information as accurate as possible. MNRE will not responsible for
                        any loss or harm, direct or consequential or any violation of law as that may be caused by
                        inaccuracy in the information available on this website. Any discrepancy found may be brought to
                        the notice of Ministry. The website is hosted by <a href="javascript:;">National Informatics
                            Centre (NIC)</a>.</p>
                            {{else}}
                    <p class="ftext">
                        यह वेबसाइट नवीन और नवीकरणीय ऊर्जा मंत्रालय, भारत सरकार से संबंधित है । इसमें दर्शायी गई सामग्री केवल सन्दर्भ के
                        प्रयोजन के लिए है । यथासंभव सही सूचना देने के लिए पूर्ण संभव प्रयास किए गए है । इस वेबसाइट पर उपलब्ध सूचना में त्रुटि
                        के कारण प्रत्यक्ष या परिणामस्वरुप किसी हानि या नुकसान अथवा कानून के किसी उल्लंघन के लिए एमएनआरई की जिम्मेदारी
                        नहीं होगी । कोई भी त्रुटि पाए जाने पर मंत्रालय को सूचित किया जाए। यह वेबसाइट<a href="javascript:;">राष्ट्रीय सूचना विज्ञान केन्द्र (एनआईसी)</a> 
                        द्वारा होस्ट की गई है ।
                    </p>
                    {{/ifCond}}
                </div>
            </div>
            <div class="col-sm vl px-5">
                  {{#ifCond language 'EN'}}
                <h6>CONTACT US</h6>                
                    {{else}}
                <h6>हमसे सम्पर्क करें </h6> 
                 {{/ifCond}}

                {{#ifCond language 'EN'}}
                <p class="ftext" style="color=#e7e7e7">Ministry of New and Renewable Energy, Atal Akshay Urja Bhawan, CGO Complex,</p>
                {{else}}
                    <p class="ftext" style="color=#e7e7e7">नवीन और नवीकरणीय ऊर्जा मंत्रालय, अटल अक्षय ऊर्जा भवन , सीजीओ काम्प्लेक्स,</p>
                {{/ifCond}}
                
                {{#ifCond language 'EN'}}
                <p class="ftext" style="color=#grey">Lodhi Road, New Delhi-110 003, India.</p>
                {{else}}
                <p class="ftext" style="color=#grey">लोदी रोड़, नई दिल्ली- 110003,  भारत</p>
                {{/ifCond}}


                <p class="ftext" style="color=grey">011-2436-0707, 011-2436-0404</p>
                <p class="ftext" style="color=#e7e7e7">www.mnre.gov.in</p>
                <span class="fsocial">
                    <a href="https://www.facebook.com/MNREMinistry/" class="external_link"><i
                            class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/company/ministry-of-new-and-renewable-energy/?originalSubdomain=in"
                        class="external_link"><i class="fab fa-linkedin"></i></a>
                    <a href="https://twitter.com/@mnreindia" class="external_link"><i
                            class="fab fa-twitter-square"></i></a>
                    <a href="https://www.youtube.com/channel/UClk55sdIRCrxHtJe17bicCg" class="external_link"><i
                            class="fab fa-youtube"></i></a>
                </span>
            </div>
            <div class="col-sm vl px-5">
                <h6>USEFUL LINKS</h6>
                <div class="row ">

                    <div class="col-md-4">
                        <ul class="ulink">
                            <li>
                                {{#ifCond language 'EN'}} 
                                <a class="ftlinks" href="https://solarrooftop.gov.in/">National Portal for Rooftop Solar </a>
                                {{else}}
                                <a class="ftlinks" href="https://solarrooftop.gov.in/">National Portal for Rooftop Solar </a>
                                {{/ifCond}}
                                </li>

                            <li>
                                {{#ifCond language 'EN'}}
                                 <a class="ftlinks" href=" https://ccdcwind.gov.in/"> CCDC Wind</a>
                                 {{else}}
                                 <a class="ftlinks" href=" https://ccdcwind.gov.in/">CCDC Wind</a>
                                 {{/ifCond}}

                                 </li>

                            <li> 
                                {{#ifCond language 'EN'}}
                                <a class="ftlinks external_link" href="http://akshayurja.gov.in/"> Akshay Urja Portal</a>
                                {{else}}
                                <a class="ftlinks external_link" href="http://akshayurja.gov.in/"> Akshay Urja Portal</a>
                                {{/ifCond}}
                            </li>

                            <li> 
                                <a class="ftlinks external_link" href="https://hrd.mnre.gov.in/">HRD Portal</a>
                                </li>

                            <li>
                                 <a class="ftlinks external_link" href="https://biourja.mnre.gov.in/"> BioUrja Portal</a> </li>

                            <li>
                                 <a class="ftlinks external_link" href="https://biogas.mnre.gov.in/"> Biogas Portal</a> 
                                 </li>

                            <li> 
                                <a class="ftlinks external_link" href="https://investment.mnre.gov.in/">
                                    Investment Portal</a>
                                    
                                    </li>
                          
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <ul class="ulink">

                               <li> 
                                <a class="ftlinks external_link" href=" https://serviceonline.gov.in/">
                                   R&D Portal</a>
                                    
                                    </li>

                            <li>
                                {{#ifCond language 'EN'}} 
                                <a class="ftlinks" href="https://rtionline.gov.in/"> RTI Portal</a>
                                {{else}}
                                <a class="ftlinks" href="https://rtionline.gov.in/">आरटीआई पोर्टल</a>
                                {{/ifCond}}
                                </li>

                            <li>
                                {{#ifCond language 'EN'}}
                                 <a class="ftlinks" href="http://goidirectory.gov.in/index.php"> GOI Directory</a>
                                 {{else}}
                                 <a class="ftlinks" href="http://goidirectory.gov.in/index.php">भारत सरकार डायरेक्ट्री</a>
                                 {{/ifCond}}

                                 </li>

                            <li> 
                                {{#ifCond language 'EN'}}
                                <a class="ftlinks external_link" href="https://powermin.nic.in/"> Powermin.nic.in</a>
                                {{else}}
                                <a class="ftlinks external_link" href="https://powermin.nic.in/"> Powermin.nic.in</a>
                                {{/ifCond}}
                            </li>

                         

                            <li>
                                 <a class="ftlinks external_link" href="https://www.mygov.in/"> Mygov.in</a> </li>

                            <li>
                                 <a class="ftlinks external_link" href="https://gandhi.gov.in/"> Gandhi.gov.in</a> 
                                 </li>

                            <li> 
                                <a class="ftlinks external_link" href="https://services.india.gov.in/">
                                    Services.india.gov.in</a>
                                    
                                    </li>

                                     
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="ulink">
                          
                            <li>
                                {{#ifCond language 'EN'}}
                                 <a class="ftlinks external_link" href="http://tenders.gov.in/"> Tenders of India</a>
                                 {{else}}
                                 <a class="ftlinks external_link" href="http://tenders.gov.in/"> भारत  की निविदाएं </a>
                                {{/ifCond}}
                            </li>
                            <li>
                                {{#ifCond language 'EN'}}
                                 <a class="ftlinks external_link" href="http://districts.nic.in/"> Districts of
                                    India</a>
                                    {{else}}
                                     <a class="ftlinks external_link" href="http://districts.nic.in/">भारत के जिले</a>
                                    {{/ifCond}}
                                     </li>
                            <li>
                                {{#ifCond language 'EN'}}
                                 <a class="ftlinks external_link" href="http://www.nvsp.in/">Online Services for
                                    Voters</a>
                                    {{else}}
                                     <a class="ftlinks external_link" href="http://www.nvsp.in/">मतदाताओं के लिए ऑनलाइन सेवाएं </a>
                                    {{/ifCond}}
                                     </li>
                            <li> 
                                {{#ifCond language 'EN'}}
                                <a class="ftlinks external_link" href="http://www.makeinindia.com/home">Make in
                                    India</a>
                                    {{else}}
                                    <a class="ftlinks external_link" href="http://www.makeinindia.com/home">मेक इन इंडिया </a>
                                    {{/ifCond}}
                                    </li>
                                     <li>
                                {{#ifCond language 'EN'}}
                                <a class="ftlinks external_link" href="https://www.india.gov.in/"> Government of
                                    India</a>
                                    {{else}}
                                    <a class="ftlinks external_link" href="https://www.india.gov.in/">भारत सरकार </a>
                                    {{/ifCond}}
                                    </li>

				  {{#ifCond language 'EN'}}
                                <a class="ftlinks external_link" href="https://legislative.gov.in/vidhi-sahitya/">Vidhi Sahitya Prakashan</a>
                                    {{else}}
                                    <a class="ftlinks external_link" href="https://legislative.gov.in/vidhi-sahitya/">Vidhi Sahitya Prakashan</a>
                                    {{/ifCond}}
                                    </li>
 			
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row com-lg-12 justify-content-center mb-0 mt-5 pt-2 pb-2"
            style="padding-bottom:0;margin-bottom:0!important;background-color: #191a1b;font-size: 13px;">
            <div class="col-sm-6 text-center align-self-end">
                Last Updated On: <span class="updatedDate"></span> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="footer-links">
                    <a class="ftlinks" href="/policy">Website Policy & Help</a> &nbsp;&nbsp;
                    <a class="ftlinks" href="/sitemap">SiteMap</a> &nbsp;&nbsp;
                    <a class="ftlinks" href="/feedback">Feedback</a> &nbsp;&nbsp;
                    <a class="ftlinks" href="/faq">FAQ</a></span>
            </div>
        </div>
    </div>
</footer>



<script type="text/javascript">
    var date = new Date;
    var printDate = date.toString().split(' ')
    var updatedDate = printDate[2] + '-' + printDate[1] + '-' + printDate[3]
    $('.updatedDate').html(updatedDate);
</script>
<script>
$(window).load(function() 
  alert("hello");
});
</script>