<div class="container-fluid wde">
    <h1 class="text-center wdet">{{page_title}}</h1>

</div>
<main class="mt-5 ml-5 mr-5 mb-5">
<div class="pdf-view pb-5">
    {{#each articles}}
    <div class="row pdf ml-5 mr-5 mt-5" >

        <div class="col viewdoc">
            {{#if this.issue_date}}
            {{#if this.submission_date}}
            <span class="date"><span class="issue_date">{{this.issue_date}}</span> - {{this.submission_date}}</span>
            {{else}}
            <span class="date"><span class="issue_date">{{this.issue_date}}</span></span>
            {{/if}}
            {{/if}}
            <span class="date">&nbsp;</span>
            <h4 class="guideh">{{this.title}}</h4>
        </div>
        <div class="col-sm-3">
            <a target="_blank" href="http://10.246.24.71{{this.file.url}}" class="ml-1">
                <img class="pdf img-fluid" src="/img/view-pdf.png" alt="view">
            </a>
            <a data-href="http://10.246.24.71{{this.file.url}}" class="ml-1 download_file">
                <img class="pdf" src="/img/download-pdf.png" alt="view">
            </a>
        </div>
    </div>
    {{/each}}

</div>

</main>