<style>
    @media only screen and (min-width:700px) {
        .ministry_people {
            padding-left: 70px;
            padding-right: 70px;
        }
    }

    @media only screen and (max-width:1000px) {
        .official_name {
            font-size: 2rem
        }
    }

    .org__read--more {
        background-color: lightgrey color: black;
    }

    /* The Modal (background) */
    .modal1 {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content1 {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        width: 60%;
        /* Could be more or less, depending on screen size */
        border: 22px solid #bada55;
    }

    /* The Close Button */
    .close1 {
        color: #000;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: relative;
        bottom: 0px;
        right: 3%;
        top: 3%;
    }

    .close1:hover,
    .close1:focus {
        color: grey;
        text-decoration: none;
        cursor: pointer;
    }

    .content_organogram {
        padding: 5%
    }

    .ministry_official_footer {
        background: transparent;
        border-top: none;
    }

    .margin_boo {
        font-size: 25px;
    }

    .desig_tit {
        font-weight: 300;
        height: 80px
    }
</style>

<div class="_page_head {{head_bg}}">
    {{#ifCond language 'EN'}}
    <p class="_heading">{{page_title}}</p>
    {{else}}
    <p class="_heading">कौन क्या है</p>
    {{/ifCond}}
</div>

<ul class="nav nav-tabs _organogram_tab {{page_color}}" id="myTab" role="tablist">
    <li class="nav-item">
        {{#ifCond language 'EN'}}
        <a class="nav-link active" data-toggle="tab" href="#ministers" role="tab" aria-controls="ministers"
            aria-selected="true">Hon'ble<br />Minister</a>
        {{else}}
        <a class="nav-link active" data-toggle="tab" href="#ministers" role="tab" aria-controls="ministers"
            aria-selected="true">माननीय <br /> मंत्री</a>
        {{/ifCond}}
    </li>
    <li class="nav-item">
        {{#ifCond language 'EN'}}
        <a class="nav-link" data-toggle="tab" href="#secretary" role="tab" aria-controls="secretary"
            aria-selected="false">Secretary</a>
        {{else}}
        <a class="nav-link" data-toggle="tab" href="#secretary" role="tab" aria-controls="secretary"
            aria-selected="false">सचिव</a>
        {{/ifCond}}
    </li>
    {{!-- <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#spcse" role="tab" aria-controls="spcse"
            aria-selected="false">Special<br />Secretary</a>
    </li> --}}
    <li class="nav-item">
         {{#ifCond language 'EN'}}
        <a class="nav-link" data-toggle="tab" href="#as" role="tab" aria-controls="as"
            aria-selected="false">Additional<br />Secretary</a>
        {{else}}
         <a class="nav-link" data-toggle="tab" href="#as" role="tab" aria-controls="as"
            aria-selected="false">अपर<br /> सचिव</a>
        {{/ifCond}}
    </li>
    <li class="nav-item">
        {{#ifCond language 'EN'}}
        <a class="nav-link" data-toggle="tab" href="#js" role="tab" aria-controls="js"
            aria-selected="false">Joint<br />Secretary</a>
        {{else}}
        <a class="nav-link" data-toggle="tab" href="#js" role="tab" aria-controls="js"
            aria-selected="false">संयुक्त<br /> सचिव</a>
        {{/ifCond}}
    </li>
    <li class="nav-item">
        {{#ifCond language 'EN'}}
        <a class="nav-link" data-toggle="tab" href="#scientistg" role="tab" aria-controls="scientistg"
            aria-selected="false">Scientists/G</a>
        {{else}}
        <a class="nav-link" data-toggle="tab" href="#scientistg" role="tab" aria-controls="scientistg"
            aria-selected="false">वैज्ञानिक-जी/</a>
        {{/ifCond}}
    </li>
    <li class="nav-item">
        {{#ifCond language 'EN'}}
        <a class="nav-link" data-toggle="tab" href="#econimicad" role="tab" aria-controls="econimicad"
            aria-selected="false">Economic<br />Advisors</a>
        {{else}}
         <a class="nav-link" data-toggle="tab" href="#econimicad" role="tab" aria-controls="econimicad"
            aria-selected="false">आर्थिक<br /> सलाहकार</a>
        {{/ifCond}}
    </li>
    <li class="nav-item">
        {{#ifCond language 'EN'}}
        <a class="nav-link" data-toggle="tab" href="#scientistfe" role="tab" aria-controls="scientistfe"
            aria-selected="false">Scientists F/E/D<br />Director/DS</a>
        {{else}}
        <a class="nav-link" data-toggle="tab" href="#scientistfe" role="tab" aria-controls="scientistfe"
            aria-selected="false">वैज्ञानिक-एफ/ई/डी<br />निदेशक/ उप सचिव</a>
        {{/ifCond}}
    </li>
    <li class="nav-item">
        {{#ifCond language 'EN'}}
        <a class="nav-link" data-toggle="tab" href="#undersec" role="tab" aria-controls="undersec"
            aria-selected="false">Scientists C/B/<br />Under Secretary</a>
        {{else}}
        <a class="nav-link" data-toggle="tab" href="#undersec" role="tab" aria-controls="undersec"
            aria-selected="false">वैज्ञानिक-सी/बी<br />अवर सचिव</a>
        {{/ifCond}}
    </li>
    <li class="nav-item">
        {{#ifCond language 'EN'}}
        <a class="nav-link" data-toggle="tab" href="#sectionoff" role="tab" aria-controls="sectionoff"
            aria-selected="false">Section<br />Officers</a>
        {{else}}
        <a class="nav-link" data-toggle="tab" href="#sectionoff" role="tab" aria-controls="sectionoff"
            aria-selected="false">अनुभाग <br /> अधिकारी</a>
        {{/ifCond}}
    </li>
</ul>

<div class="tab-content _organogram_tab_content {{page_color}}">
    <div id="ministers" class="tab-pane fade show active">
         {{#ifCond language 'EN'}}
        <div class="_single_minister">
            {{#each minister}}
            <div class="_img">
                {{#if this.image}}
                <img class="img" src="https://mnre.gov.in/img/documents/uploads/ae49833d3b0e4607b3b37dd9e058d399.jpg" alt="Minister Image">
                {{/if}}
            </div>
            <div class="_description">
                <h4 class="_title">Sh. Raj Kumar Singh</h4>
                <hr />
                <h5 class="_designation">
                    Hon'ble Cabinet Minister (Power, New & Renewable Energy)
                </h5>
            </div>
            {{/each}}
        </div>

         <div class="_single_minister">
            {{#each minister}}
            <div class="_img">
                {{#if this.image}}
                <img class="img" src="https://mnre.gov.in/img/documents/uploads/file_s-1625720252370.jpg" alt="Minister Image">
                {{/if}}
            </div>
            <div class="_description">
                <h4 class="_title">Sh. Bhagwanth Khuba</h4>
                <hr />
                <h5 class="_designation">
                    Hon'ble Minister of State (New and Renewable Energy, Chemicals and Fertilizers)
                </h5>
            </div>
            {{/each}}
        </div>


     {{else}}
          <div class="_single_minister">
            <div class="_img">               
                <img class="img" src="https://mnre.gov.in/img/documents/uploads/ae49833d3b0e4607b3b37dd9e058d399.jpg" alt="Minister Image">
                
            </div>
            <div class="_description">
                <h4 class="_title">श्री राज कुमार सिंह</h4>
                <hr />
                <h5 class="_designation">
                   माननीय केन्द्रीय मंत्री (विद्युत एवं नवीन और नवीकरणीय ऊर्जा)
                </h5>
            </div>
        </div>

             <div class="_single_minister">
            <div class="_img">               
                <img class="img" src="https://mnre.gov.in/img/documents/uploads/file_s-1625720252370.jpg" alt="Minister Image">
                
            </div>
            <div class="_description">
                <h4 class="_title">श्री भगवंत खुबा</h4>
                <hr />
                <h5 class="_designation">
                   माननीय राज्य मंत्री (नवीन और नवीकरणीय ऊर्जा, रसायन एवं उर्वरक)
                </h5>
            </div>
        </div>
          {{/ifCond}}
    </div>
    <div id="secretary" class="tab-pane fade">
         {{#ifCond language 'EN'}}
        <div class="_single_minister">
            {{#each secretary}}
            <div class="_img">
                {{#if this.image}}
                <img class="img" src="{{../document_path}}{{this.image.url}}" alt="Minister Image">
                {{/if}}
            </div>
            <div class="_description">
                <h4 class="_title">{{this.name}}</h4>
                <hr />
                <h5 class="_designation">
                    {{{this.designation}}}
                </h5>
            </div>
            {{/each}}
        </div>
        {{else}}
         <div class="_single_minister">
            {{#each secretary}}
            <div class="_img">
                <img class="img" src="https://mnre.gov.in/img/documents/uploads/file_f-1591781390320.jpg" alt="Minister Image">
            </div>
            <div class="_description">
                <h4 class="_title">श्री इंदु शेखर चतुर्वेदी </h4>
                <hr />
                <h5 class="_designation">
                    सचिव, एमएनआरई  , भारत सरकार 
                </h5>
            </div>
            {{/each}}
        </div>
        {{/ifCond}}
    </div>
    <div id="spcse" class="tab-pane fade">
        <div class="_single_minister _multiple">
            {{#each spcse}}
            {{!-- <div class="col-sm-4 pb-3 ministry_people_single" data-desig="{{this.category}}"> --}}
            {{!-- <div class="_img">
                {{#if this.image}}
                <img class="img" src="http://10.246.24.71{{this.image.url}}" alt="Minister Image">
                {{/if}}
            </div> --}}
            <div class="_description {{this.department}}">
                <h4 class="_title">{{this.name}}</h4>
                <hr />
                <h5 class="_designation">
                    {{{this.designation}}}
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('{{this._id}}')">Contact details & Work Profile</span>
            </div>
            {{/each}}
        </div>
    </div>
    <div id="as" class="tab-pane fade">
        {{#ifCond language 'EN'}}
        <div class="_single_minister _multiple">
            {{#each as}}
            {{!-- <div class="col-sm-4 pb-3 ministry_people_single" data-desig="{{this.category}}"> --}}
            {{!-- <div class="_img">
                {{#if this.image}}
                <img class="img" src="http://10.246.24.71{{this.image.url}}" alt="Minister Image">
                {{/if}}
            </div> --}}
            <div class="_description {{this.department}}">
                <h4 class="_title">{{this.name}}</h4>
                <hr />
                <h5 class="_designation">
                    {{{this.designation}}}
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('{{this._id}}')">Contact details & Work Profile</span>
            </div>
            {{/each}}
        </div>
    </div>
    {{else}}
     <div class="_single_minister _multiple">
          
            <div class="_description {{this.department}}">
                <h4 class="_title">श्री अनिरुद्ध कुमार</h4>
                <hr />
                <h5 class="_designation">
                   अपर सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('{{this._id}}')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>
        </div>
    </div>
    {{/ifCond}}



    <div id="js" class="tab-pane fade">
        <div class="_division_drop_wrap">
            <select class="_division_drop">
                <option value="All">All</option>
                <option value="admin">Administration</option>
                <option value="solar">Solar</option>
                <option value="wind">Wind</option>
                <option value="bio">Bio</option>
                <option value="hydro">Small Hydro</option>
                <option value="wasteenergy">Waste To Energy</option>
                <option value="gec">Green Energy Corridor</option>
                <option value="newtech">New Technology</option>
                <option value="r&d">Research And Development</option>
                <option value="others">Others</option>
            </select>
        </div>


        {{#ifCond language 'EN'}}
        <div class="_single_minister _multiple">
            {{#each js}}        
            
            <div class="_description {{this.department}}">
                <h4 class="_title">{{this.name}}</h4>
                <hr />
                <h5 class="_designation">
                    {{{this.designation}}}
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('{{this._id}}')">Contact details & Work Profile</span>
            </div>
            {{/each}}
            </div>
        </div>
    {{else}}

      <div class="_single_minister _multiple">  
            
            <div class="_description {{this.department}}">
                <h4 class="_title">श्री अरविंद कुमार</h4>
                <hr />
                <h5 class="_designation">
                  मुख्य लेखा नियंत्रक
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5f7eb8688950ff9f54223b41')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री विमलेन्द्र आनंद पटवर्धन</h4>
                <hr />
                <h5 class="_designation">
                संयुक्त सचिव एवं वित्तीय सलाहकार
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5e4e3872265c4d380eff018b')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री दिनेश दयानंद जगदाले</h4>
                <hr />
                <h5 class="_designation">
                संयुक्त सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5d9c5509159b2e5f32086dbf')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">श्री अमितेश कुमार सिंहा</h4>
                <hr />
                <h5 class="_designation">
              संयुक्त सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5ced3c92af598867b884ccec')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

           
        </div>

    </div>

    {{/ifCond}}




    <div id="scientistg" class="tab-pane fade">
        <div class="_division_drop_wrap">
            <select class="_division_drop">
                <option value="All">All</option>
                <option value="admin">Administration</option>
                <option value="solar">Solar</option>
                <option value="wind">Wind</option>
                <option value="bio">Bio</option>
                <option value="hydro">Small Hydro</option>
                <option value="wasteenergy">Waste To Energy</option>
                <option value="gec">Green Energy Corridor</option>
                <option value="newtech">New Technology</option>
                <option value="r&d">Research And Development</option>
                <option value="others">Others</option>
            </select>
        </div> 

    {{#ifCond language 'EN'}}
        <div class="_single_minister _multiple">
            {{#each scig}}          
            <div class="_description {{this.department}}">
                <h4 class="_title">{{this.name}}</h4>
                <hr />
                <h5 class="_designation">
                    {{{this.designation}}}
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('{{this._id}}')">Contact details & Work Profile</span>
            </div>
            {{/each}}
        </div>
        {{else}}
         <div class="_single_minister _multiple">                  
         

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री दिलीप निगम</h4>
                <hr />
                <h5 class="_designation">
                   वैज्ञानिक-जी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5f06e15198d26ede1e3eaee2')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

               <div class="_description {{this.department}}">
                <h4 class="_title">डॉ पंकज सक्सेना</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक-जी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee24ebaf598867b884ccfd')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

               <div class="_description {{this.department}}">
                <h4 class="_title">श्री जी. उपाध्याय</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक-जी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2459af598867b884ccfa')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

        </div>
{{/ifCond}}




    </div>
    <div id="econimicad" class="tab-pane fade">
        <div class="_division_drop_wrap">
            <select class="_division_drop">
                <option value="All">All</option>
                <option value="admin">Administration</option>
                <option value="solar">Solar</option>
                <option value="wind">Wind</option>
                <option value="bio">Bio</option>
                <option value="hydro">Small Hydro</option>
                <option value="wasteenergy">Waste To Energy</option>
                <option value="gec">Green Energy Corridor</option>
                <option value="newtech">New Technology</option>
                <option value="r&d">Research And Development</option>
                <option value="others">Others</option>
            </select>
        </div> 

        {{#ifCond language 'EN'}}
        <div class="_single_minister _multiple">
            {{#each ecoadv}}
           
            <div class="_description {{this.department}}">
                <h4 class="_title">{{this.name}}</h4>
                <hr />
                <h5 class="_designation">
                    {{{this.designation}}}
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('{{this._id}}')">Contact details & Work Profile</span>
            </div>
            {{/each}}
        </div>
        {{else}}

          <div class="_single_minister _multiple">
           
           
            <div class="_description {{this.department}}">
                <h4 class="_title">श्री जे. राजेश कुमार</h4>
                <hr />
                <h5 class="_designation">
                   आर्थिक सलाहकार
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5f7c20e0f8367d3cda80c15a')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             {{!-- <div class="_description {{this.department}}">
                <h4 class="_title">सुश्री सुतापा मजूमदार</h4>
                <hr />
                <h5 class="_designation">
                   आर्थिक सलाहकार
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5d48021a1ddd3a921b2389ce')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div> --}}


        </div>
    {{/ifCond}}

    </div>
    <div id="scientistfe" class="tab-pane fade">
        <div class="_division_drop_wrap">
            <select class="_division_drop">
                <option value="All">All</option>
                <option value="admin">Administration</option>
                <option value="solar">Solar</option>
                <option value="wind">Wind</option>
                <option value="bio">Bio</option>
                <option value="hydro">Small Hydro</option>
                <option value="wasteenergy">Waste To Energy</option>
                <option value="gec">Green Energy Corridor</option>
                <option value="newtech">New Technology</option>
                <option value="r&d">Research And Development</option>
                <option value="others">Others</option>
            </select>
        </div>   

        {{#ifCond language 'EN'}}     
        <div class="_single_minister _multiple">
            {{#each scifed}}
            {{!-- <div class="col-sm-4 pb-3 ministry_people_single" data-desig="{{this.category}}"> --}}
            {{!-- <div class="_img">
                {{#if this.image}}
                <img class="img" src="http://10.246.24.71{{this.image.url}}" alt="Minister Image">
                {{/if}}
            </div> --}}
            <div class="_description {{this.department}}">
                <h4 class="_title">{{this.name}}</h4>
                <hr />
                <h5 class="_designation">
                    {{{this.designation}}}
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('{{this._id}}')">Contact details & Work Profile</span>
            </div>
            {{/each}}
        </div>
    </div>
    {{else}}
        <div class="_single_minister _multiple">          
            <div class="_description {{this.department}}">
                <h4 class="_title">श्री किशोर कुमार</h4>
                <hr />
                <h5 class="_designation">
                   उप निदेशक
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5f59cf9d747a4c7b3c02fd2c')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री शिव सुमन</h4>
                <hr />
                <h5 class="_designation">
                   उप निदेशक
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5f59cf79747a4c7b3c02fd2b')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

              <div class="_description {{this.department}}">
                <h4 class="_title">डॉ वीपिन कुमार</h4>
                <hr />
                <h5 class="_designation">
                   उप निदेशक
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5f59cf1d747a4c7b3c02fd2a')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री इरफान अहमद</h4>
                <hr />
                <h5 class="_designation">
                   निदेशक
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5f59cecb747a4c7b3c02fd29')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री असीम कुमार</h4>
                <hr />
                <h5 class="_designation">
                   निदेशक
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5f032291605fa9d6d611027e')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री के सलील कुमार</h4>
                <hr />
                <h5 class="_designation">
                   उप सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5d9c51b5159b2e5f32086dbb')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री संदीप मुखर्जी</h4>
                <hr />
                <h5 class="_designation">
                  उप सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2f07af598867b884cd2b')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री अरुण कुमार</h4>
                <hr />
                <h5 class="_designation">
                   वैज्ञानिक डी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2b8daf598867b884cd16')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

               <div class="_description {{this.department}}">
                <h4 class="_title">श्री तरुण सिंह</h4>
                <hr />
                <h5 class="_designation">
                 वैज्ञानिक डी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2b5daf598867b884cd15')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">श्री शोभित श्रीवास्तव</h4>
                <hr />
                <h5 class="_designation">
                     वैज्ञानिक डी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2b40af598867b884cd14')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">डॉ पी के दास</h4>
                <hr />
                <h5 class="_designation">
                    वैज्ञानिक डी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2b1eaf598867b884cd13')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री अनिन्दया एस परिरा</h4>
                <hr />
                <h5 class="_designation">
                    वैज्ञानिक डी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2afeaf598867b884cd12')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>


               <div class="_description {{this.department}}">
                <h4 class="_title">श्री पीएनबीवी चलपति राव</h4>
                <hr />
                <h5 class="_designation">
                    वैज्ञानिक डी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2babaf598867b884cd17')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">श्री संजय जी कर्णधार</h4>
                <hr />
                <h5 class="_designation">
                    वैज्ञानिक डी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2addaf598867b884cd11')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री हीरेन चन्द्र बोरा</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक डी

                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2aabaf598867b884cd10')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री संजय कुमार शाही</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक डी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2a68af598867b884cd0e')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">श्री अनिल कुमार</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक डी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2a48af598867b884cd0d')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री सीता राम मीना</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक डी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee29a4af598867b884cd0b')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>


             <div class="_description {{this.department}}">
                <h4 class="_title">श्री ओजेन्दर सिंह</h4>
                <hr />
                <h5 class="_designation">
                  उप सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2963af598867b884cd0a')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            {{!-- <div class="_description {{this.department}}">
                <h4 class="_title">सुश्री अल्का जोशी</h4>
                <hr />
                <h5 class="_designation">
                  उप सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2930af598867b884cd09')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div> --}}

            <div class="_description {{this.department}}">
                <h4 class="_title">श्री रुचिन गुप्ता</h4>
                <hr />
                <h5 class="_designation">
                निदेशक
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee28f1af598867b884cd08')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">डॉ वसंता वी ठाकुर</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक डी

                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee288caf598867b884cd06')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">श्री सुनील कुमार गुप्ता
</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक डी

                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee27c5af598867b884cd04')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">श्री जीवन कुमार जेठानी</h4>
                <hr />
                <h5 class="_designation">
                   वैज्ञानिक ई
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2743af598867b884cd02')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">श्री बी के पांडा</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक फ

                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee25f2af598867b884cd01')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

              <div class="_description {{this.department}}">
                <h4 class="_title">श्री गिरीश कुमार</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक ई 

                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee25acaf598867b884cd00')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             {{!-- <div class="_description {{this.department}}">
                <h4 class="_title">श्री एन बी राजू</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक ई 

                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee256aaf598867b884ccff')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div> --}}

         


        </div>
    </div>

    {{/ifCond}}





    <div id="undersec" class="tab-pane fade">
        <div class="_division_drop_wrap">
            <select class="_division_drop">
                <option value="All">All</option>
                <option value="admin">Administration</option>
                <option value="solar">Solar</option>
                <option value="wind">Wind</option>
                <option value="bio">Bio</option>
                <option value="hydro">Small Hydro</option>
                <option value="wasteenergy">Waste To Energy</option>
                <option value="gec">Green Energy Corridor</option>
                <option value="newtech">New Technology</option>
                <option value="r&d">Research And Development</option>
                <option value="others">Others</option>
            </select>
        </div> 

        
        {{#ifCond language 'EN'}}
        <div class="_single_minister _multiple">
            {{#each under}}
            {{!-- <div class="col-sm-4 pb-3 ministry_people_single" data-desig="{{this.category}}"> --}}
            {{!-- <div class="_img">
                {{#if this.image}}
                <img class="img" src="http://10.246.24.71{{this.image.url}}" alt="Minister Image">
                {{/if}}
            </div> --}}
            <div class="_description {{this.department}}">
                <h4 class="_title">{{this.name}}</h4>
                <hr />
                <h5 class="_designation">
                    {{{this.designation}}}
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('{{this._id}}')">Contact details & Work Profile</span>
            </div>
            {{/each}}
        </div>
    </div>
    {{else}}

    <div class="_single_minister _multiple">            
            <div class="_description {{this.department}}">
                <h4 class="_title">श्री कैलाश चन्द </h4>
                <hr />
                <h5 class="_designation">
                  अवर सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5db2baf159980907b33f97a7')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>


            <div class="_description {{this.department}}">
                <h4 class="_title">श्री मो. अजमल मंसूरी </h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक बी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5db2ba7e59980907b33f97a6')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">श्री पी वी तरुण साकेत </h4>
                <hr />
                <h5 class="_designation">
                 वैज्ञानिक बी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5db2ba5059980907b33f97a5')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">श्री वेलीवेला श्री साई चैतन्य </h4>
                <hr />
                <h5 class="_designation">
                 वैज्ञानिक बी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5db2b94b59980907b33f97a4')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">श्री आदित्य नारायण प्रजापति </h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक बी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5d9c5c06159b2e5f32086dc1')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">श्री योगिन्द्र सिंह</h4>
                <hr />
                <h5 class="_designation">
                  अवर सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5d9c546f159b2e5f32086dbe')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">श्री एन पी शुक्ला</h4>
                <hr />
                <h5 class="_designation">
                  अवर सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5d9c5386159b2e5f32086dbd')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">श्री डी के पांडे </h4>
                <hr />
                <h5 class="_designation">
                  अवर सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5d9c52b5159b2e5f32086dbc')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">सुश्री सुनीता साजवान</h4>
                <hr />
                <h5 class="_designation">
                  अवर सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5d48119a1ddd3a921b2389d8')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

            <div class="_description {{this.department}}">
                <h4 class="_title">सुश्री सुनीता धेवाल</h4>
                <hr />
                <h5 class="_designation">
                  अवर सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2ee9af598867b884cd2a')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

              <div class="_description {{this.department}}">
                <h4 class="_title">श्री देवेन्द्र सिंह</h4>
                <hr />
                <h5 class="_designation">
                  अवर सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2eb4af598867b884cd29')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

              <div class="_description {{this.department}}">
                <h4 class="_title">श्री के जी सुरेश कुमार</h4>
                <hr />
                <h5 class="_designation">
                  अवर सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2e80af598867b884cd28')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

              <div class="_description {{this.department}}">
                <h4 class="_title">श्री अरविंद पोखरियाल</h4>
                <hr />
                <h5 class="_designation">
                  अवर सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2e55af598867b884cd27')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

              <div class="_description {{this.department}}">
                <h4 class="_title">श्री अशोक कुमार सिंह</h4>
                <hr />
                <h5 class="_designation">
                  अवर सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2db2af598867b884cd24')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

              <div class="_description {{this.department}}">
                <h4 class="_title">श्री संदीप कुमार खुराना</h4>
                <hr />
                <h5 class="_designation">
                  अवर सचिव
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2d8caf598867b884cd23')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

              <div class="_description {{this.department}}">
                <h4 class="_title">श्री अरविंद एमए</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक सी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2d27af598867b884cd22')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

              <div class="_description {{this.department}}">
                <h4 class="_title">श्री विजय कुमार भारती</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक सी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2d0baf598867b884cd21')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

              <div class="_description {{this.department}}">
                <h4 class="_title">डॉ राहुल रावत</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक सी

                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2cecaf598867b884cd20')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

              <div class="_description {{this.department}}">
                <h4 class="_title">श्री पबित्र मोहन बारिक</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक सी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2ccdaf598867b884cd1f')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>


            
              <div class="_description {{this.department}}">
                <h4 class="_title">श्री दीपेश फेरवानी</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक सी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2ca1af598867b884cd1e')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>


            
              <div class="_description {{this.department}}">
                <h4 class="_title">श्री विक्रम ढ़ाका</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक सी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2c7aaf598867b884cd1d')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>


            
              <div class="_description {{this.department}}">
                <h4 class="_title">श्री अनुभव उप्पल</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक सी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2c59af598867b884cd1c')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>


            
              <div class="_description {{this.department}}">
                <h4 class="_title">श्री मनीष सिंह बिष्ट</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक सी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2c38af598867b884cd1b')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>


            
         


             <div class="_description {{this.department}}">
                <h4 class="_title">श्री रोहित ठकवानी</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक सी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2bf2af598867b884cd19')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री निखिल गक्खर</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक सी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2bd0af598867b884cd18')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>


         
             <div class="_description {{this.department}}">
                <h4 class="_title">श्री संजय प्रकाश भगत</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक सी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2a0aaf598867b884cd0c')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">सुश्री प्रिया</h4>
                <hr />
                <h5 class="_designation">
                  वैज्ञानिक सी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2c11af598867b884cd1a')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>





        </div>
    </div>
    {{/ifCond}}

    <div id="sectionoff" class="tab-pane fade">
        <div class="_division_drop_wrap">
            <select class="_division_drop">
                <option value="All">All</option>
                <option value="admin">Administration</option>
                <option value="solar">Solar</option>
                <option value="wind">Wind</option>
                <option value="bio">Bio</option>
                <option value="hydro">Small Hydro</option>
                <option value="wasteenergy">Waste To Energy</option>
                <option value="gec">Green Energy Corridor</option>
                <option value="newtech">New Technology</option>
                <option value="r&d">Research And Development</option>
                <option value="others">Others</option>
            </select>
        </div> 

        {{#ifCond language 'EN'}}
        <div class="_single_minister _multiple">
            {{#each secoff}}
            {{!-- <div class="col-sm-4 pb-3 ministry_people_single" data-desig="{{this.category}}"> --}}
            {{!-- <div class="_img">
                {{#if this.image}}
                <img class="img" src="http://10.246.24.71{{this.image.url}}" alt="Minister Image">
                {{/if}}
            </div> --}}
            <div class="_description {{this.department}}">
                <h4 class="_title">{{this.name}}</h4>
                <hr />
                <h5 class="_designation">
                    {{{this.designation}}}
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('{{this._id}}')">Contact details & Work Profile</span>
            </div>
            {{/each}}
        </div>
    </div>
    {{else}}
     <div class="_single_minister _multiple">           
            <div class="_description {{this.department}}">
                <h4 class="_title">श्री अरविंद सहदेव घोलप</h4>
                <hr />
                <h5 class="_designation">
                   अनुभाग अधिकारी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5d9c572a159b2e5f32086dc0')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">सुश्री पिंकी रानी</h4>
                <hr />
                <h5 class="_designation">
                   अनुभाग अधिकारी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5d4802801ddd3a921b2389cf')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">सुश्री वी प्रभा</h4>
                <hr />
                <h5 class="_designation">
                   अनुभाग अधिकारी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2fd7af598867b884cd33')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

             <div class="_description {{this.department}}">
                <h4 class="_title">श्री वीरेन्द्र त्यागी</h4>
                <hr />
                <h5 class="_designation">
                   अनुभाग अधिकारी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2fbdaf598867b884cd32')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>


             <div class="_description {{this.department}}">
                <h4 class="_title">श्री संदीप कुमार शर्मा</h4>
                <hr />
                <h5 class="_designation">
                   अनुभाग अधिकारी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2f8faf598867b884cd30')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>

          


  <div class="_description {{this.department}}">
                <h4 class="_title">सुश्री सीमा श्रीवास्तव</h4>
                <hr />
                <h5 class="_designation">
                   अनुभाग अधिकारी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2f2caf598867b884cd2c')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>


  <div class="_description {{this.department}}">
                <h4 class="_title">श्री आर एस सोढ़ी</h4>
                <hr />
                <h5 class="_designation">
                   अनुभाग अधिकारी
                </h5>
                <span class="btn btn-success org__read--more" onclick="OPEN_ORGANOGRAM_MODAL('5cee2dddaf598867b884cd25')">संपर्क विववरण और वर्क प्रोफाइल</span>
            </div>







        </div>
    </div>
    {{/ifCond}}





</div>

<div class="container">
    <div id="organogram_modal" class="modal1 _organogram_modal">
        <div class="modal-content1 seci__border">
            <span class="close1" id="close_organogram_modal"><i class="far fa-times-circle"></i></span>
            <div class="content_organogram"></div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function(){
        $('._organogram_tab .nav-item').click(function(){
            $(`._description`).css('display', 'block');
            $('._division_drop').val('All').trigger('change');
        });
        
        $('._division_drop').on('change', function() {
            var selectVal = this.value;
            console.log(`.${selectVal}`);
            if(selectVal == 'All'){
                $(`._description`).css('display', 'block');
            } else {
                $(`._description`).css('display', 'none');
                $(`._description.${selectVal}`).css('display', 'block');
            }            
        });        
    });

    var all_elements = $('.ministry_people_single')
    const FILTER = function (value) {
        if (value != "all") {
            all_elements.hide()
            $('.ministry_people_single').filter(`[data-desig="${value}"]`).show()
        } else {
            all_elements.show()
        }

    }

    const OPEN_ORGANOGRAM_MODAL = function (id) {
        axios.get(`/organogram/${id}`).then(response => response.data).catch(error => {
            console.log(error)
        }).then(data => {
            $('.content.organogram').html('')
            if (data.image) {
                $('.content_organogram').html(`
                <div class="_modal_inner organo_modal_image">
                    <div class="organo_img_wrap">
                        <img src="http://164.100.77.194/img/documents${data.image.url}">
                    </div>
                    <div class="organo_content_wrap">
                        <h2 class="_name">${data.name}</h4>
                        <p class="_designation">${data.designation}</p>
                        <ul>
                            <li>
                                <span>Email:</span>
                                <a id="official_email-${data.id}" href="mailto:${data.email}">
                                    ${data.email}
                                </a>
                            </li>                            
                            <li>
                                <span>Office:</span>
                                <a id="official_off-${data.id}" href="tel:${data.phone_office}">
                                    ${data.phone_office}
                                </a>
                            </li>
                        </ul>
                        <div class="_departments">
                            ${data.programmes}
                        </div>
                    </div>
                </div>
            `)
            } else {
                $('.content_organogram').html(`
                    <div class="_modal_inner">
                        <h2 class="_name">${data.name}</h4>
                        <p class="_designation">${data.designation}</p>
                        <ul>
                            <li>
                                <span>Email:</span>
                                <a id="official_email-${data.id}" href="mailto:${data.email}">
                                    ${data.email}
                                </a>
                            </li>                            
                            <li>
                                <span>Office:</span>
                                <a id="official_off-${data.id}" href="tel:${data.phone_office}">
                                    ${data.phone_office}
                                </a>
                            </li>
                        </ul>
                        <div class="_departments">
                            ${data.programmes}
                        </div>
                    </div>
            `)
            }


            if (!data.email) { $('.off_email').hide() }

            if (!data.phone_residence) { $('.off_res').hide() }

            if (!data.phone_office) {
                $('.off_off').hide()
            }

            if (!data.programmes) {
                $('.off_prog').hide()
            }

            modal10.style.display = "block";
        })

    }
    // Get the modal
    var modal10 = document.getElementById('organogram_modal');

    // Get the <span> element that closes the modal
    var span10 = document.getElementById("close_organogram_modal");


    // When the user clicks on <span> (x), close the modal
    span10.onclick = function () {
        modal10.style.display = "none"
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal10) {
            modal10.style.display = "none";
        }
    }

    $('.ministry_people_single:lt(2)').removeClass('col-sm-4')
    $('.ministry_people_single:lt(2)').addClass('col-sm-6')

    $('#wambam').val('all')

</script>