<link rel="stylesheet" href="{{site_url}}/stylesheets/contact_page.css">
<div class="_page_head contact_bg">
    <p class="_heading">Contact Us</p>
</div>

<div class="_page_wrapper _contact_page">
    <div class="_page_heading">
        <p>Address</p>
    </div>
    <div class="_contact_details">
        <p class="_contact_address">
            <b>Ministry of New and Renewable Energy</b><br />
            Atal Akshay Urja Bhawan, CGO Complex,<br />
            Lodhi Road, New Delhi - 110 003, India.
        </p>
        <div class="_social_links">
            <a href="https://www.facebook.com/pages/MNRE/488573947894457?ref_type=bookmark" class="external_link">
                <img src="{{site_url}}/img/icons/fb.png" alt="" />
            </a>
            <a href="https://www.linkedin.com/company/ministry-of-new-and-renewable-energy/?originalSubdomain=in" class="external_link">
                <img src="{{site_url}}/img/icons/ln.png" alt="" />
            </a>
            <a href="https://twitter.com/@mnreindia" class="external_link">
                <img src="{{site_url}}/img/icons/tw.png" alt="" />
            </a>
            <a href="https://www.youtube.com/channel/UClk55sdIRCrxHtJe17bicCg" class="external_link">
                <img src="{{site_url}}/img/icons/yt.png" alt="" />
            </a>
        </div>

        <div class="_location_map">
            <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Atal%20Akashay%20Urja%20Bhawan,%20Lodhi%20Road+(Ministry%20of%20New%20and%20Renewable%20Energy)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure area map</a></iframe>        </div>
    </div>
    <div class="_page_heading">
        <p>Telephone Directory</p>
    </div>
    <div class="_contact_numbers">
        <p><b>EPBAX</b>: 24360707, 24360404</p>
        <p><b>Fax No</b>: (Atal Akshay Urja Bhawan) 24361298(Genl.)</p>

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Minister's Office
                    </button>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <table>
                        <tr>
                            <td>Name & Designation</td>
                            <td>I.C</td>
                            <td>Room No.</td>
                            <td>Office</td>
                            <td>E-mail ID</td>
                        </tr>
                        <tr>
                            <td>RAJ KUMAR SINGH (MINISTER)</td>
                            <td>--</td>
                            <td>Floor-8/Phase-II</td>
                            <td>20849102 </td>
                            <td>raj.ksingh@gov.in</td>
                        </tr>
                        <tr>
                            <td>MANOJ KUMAR SINGH (PS)</td>
                            <td>1801</td>
                            <td>Floor-8/Phase-II</td>
                            <td> </td>
                            <td>manoj.ksingh82@gov.in</td>
                        </tr>
			<tr>
                            <td>DIVYANSHU JHA (APS)</td>
                            <td>1705</td>
                            <td>Floor-7/Phase-II</td>
                            <td> </td>
                            <td>d.jha1989@ias.nic.in</td>
                        </tr>

                          <tr>
                            <td>RAVINDER KUMAR SINGH (OSD)</td>
                            <td>1804</td>
                            <td>Floor-8/Phase-II</td>
                            <td>20849103</td>
                            <td>raviksin@gmail.com</td>
                        </tr>
                      
                         <tr>
                            <td>D.K. PANDEY (US)</td>
                            <td>1805</td>
                            <td>Floor-8/Phase-II</td>
                            <td>20849104</td>
                            <td>dhirendrak.pandey@nic.in</td>
                        </tr>
                         <tr>
                            <td>RAJU GOSWAMI (PPS)</td>
                            <td>1807</td>
                            <td>Floor-8/Phase-II</td>
                            <td> </td>
                            <td>raju.goswami12@nic.in</td>
                        </tr>
			<tr>
                            <td>L.K SURYAWANSHI (PPS)</td>
                            <td>1807</td>
                            <td>Floor-8/Phase-II</td>
                            <td> </td>
                            <td>lalender.kumar@nic.in</td>
                        </tr>

                         <tr>
                            <td>Minister’s Staff</td>
                            <td>1806, 1808</td>
                            <td>Floor-8/Phase-II</td>
                            <td> </td>
                            <td>--</td>
                        </tr> 
                    </table>                    
                </div>
            </div>

             <div class="card">
                <div class="card-header" id="headingnew">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapsenew"
                        aria-expanded="true" aria-controls="collapsenew">
                       MOS’ Office
                    </button>
                </div>

                <div id="collapsenew" class="collapse" aria-labelledby="headingnew" data-parent="#accordion">
                    <table>
                        <tr>
                            <td>Name & Designation</td>
                            <td>I.C</td>
                            <td>Room No.</td>
                            <td>Office</td>
                            <td>E-mail ID</td>
                        </tr>
                        <tr>
                            <td>BHAGWANTH KHUBA (MOS)</td>
                            <td>--</td>
                            <td>Floor-7/Phase-1</td>
                            <td>011-20849107,20849108</td>
                            <td>mos-mnre@gov.in</td>
                        </tr>
                          <tr>
                            <td>DR. SHANTESHWAR SWAMI (PS)</td>
                            <td>--</td>
                            <td>Floor-7/Phase-1</td>
                            <td>011-20849113</td>
                            <td>shanteshwar.r.swami@incometax.gov.in</td>
                        </tr>
                        <tr>
                            <td>AMARESHWAR PATIL (APS)</td>
                            <td>--</td>
                            <td>Floor-7/Phase-1</td>
                            <td>011-20849109</td>
                            <td>amareshwar.patil@gov.in</td>
                        </tr>
                        <tr>
                            <td>S.P SINGH (PPS)</td>
                            <td>--</td>
                            <td>Floor-7/Phase-1</td>
                            <td>-- </td>
                            <td>shripal.singh@nic.in</td>
                        </tr>
                
                    </table>                    
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Telephone Directory
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body _directory_link">
                        <a target="_blank" href="{{document_path}}/uploads/file_s-1658914346357.pdf">


                            <img src="{{site_url}}/img/view-pdf.png" alt="view">
                            View Telephone Directory
                        </a>
                        <a data-href="{{document_path}}/uploads/file_s-1658914346357.pdf" class="download_file">
                            <img src="{{site_url}}/img/download-pdf.png" alt="view">
                            Download Telephone Directory
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Email Directory
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="collapseThree" data-parent="#accordion">
                    <div class="card-body _directory_link">
                        <a target="_blank" href="{{document_path}}/uploads/file_s-1654160451697.pdf">
                            <img src="{{site_url}}/img/view-pdf.png" alt="view">
                            View Email Directory
                        </a>
                        <a data-href="{{document_path}}/uploads/file_s-1654160451697.pdf" class="download_file">
                            <img src="{{site_url}}/img/download-pdf.png" alt="view">
                            Download Email Directory
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed">
                            <a href="https://evisitors.nic.in/public/Home.aspx" class="external_link" target="_blank">Schedule An Appointment</a>
                        </button>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>