<link rel="stylesheet" href="{{site_url}}/stylesheets/energy-policy.css">

<div class="_page_head {{head_bg}}-bg">
    <p class="_heading">{{page_title}}</p>
</div>

<div class="_main_wrapper">
    <div class="_policy_wrapper">
        <div class="_policy_dropdown">
            <div class="search-option">
                <p
                    style="font-family: 'Gotham-Bold'; right: 100px; font-size: 14px; color: #464646; position: absolute; top: 1px; left: 1px; pointer-events: none; margin: 0; background: white; bottom: 1px; padding: 9px 15px; z-index: 10;">
                    {{page_name}}</p>
                <label for="f184318d184322" class="sr-only">Format</label>
                <select id="f184318d184322" class="form  policy_option" name="documentType_"
                    onchange="window.location.pathname = this.value">
                    <option title="Solar Policy and Guidelines" value="/Solar/policy-and-guidelines">Solar</option>
                    <option title="Wind Policy and Guidelines" value="/Wind/policy-and-guidelines">Wind</option>
                    <option title="Small Hydro Policy and Guidelines" value="/Small Hydro/policy-and-guidelines">Small Hydro</option>
                    <option title="Waste to energy Policy and Guidelines" value="/Waste To Energy/policy-and-guidelines">Waste To Energy</option>
                    <option title="Bio Energy Policy and Guidelines" value="/Bio Energy/policy-and-guidelines">Bio Energy</option>
                </select>
            </div>
        </div>
        <!-- Accordion -->
        <div class="_policy_accordion">
            <div class="accordion" id="accordionExample">
                {{#each articles}}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link english_data" type="button" data-toggle="collapse"
                                data-target="#collapse_{{@index}}" aria-expanded="true" aria-controls="collapseOne">
                                {{#if this.issue_date}}
                                    <p class="_issue_date">Dated: {{this.issue_date}}</p>
                                {{/if}}
                                {{this.title}}
                            </button>
                            <button class="btn btn-link hindi_data" type="button" data-toggle="collapse"
                                data-target="#collapse_{{@index}}" aria-expanded="true" aria-controls="collapseOne">
                                {{#if this.issue_date}}
                                    <p class="_issue_date">Dated: {{this.issue_date}}</p>
                                {{/if}}
                                {{this.title_hi}}
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_{{@index}}" class="collapse" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <p class="english_data">{{this.description}}</p>
                            <p class="hindi_data">{{this.description_hi}}</p>

                            <div class="_pdf_links">
                                <a target="_blank" href="{{../document_path}}{{this.file.url}}" class="ml-1">
                                    <img class="pdf" src="{{../site_url}}/img/view-pdf.png" alt="view">
                                </a>
                                <a data-href="{{../document_path}}{{this.file.url}}" class="ml-1 download_file">
                                    <img class="pdf" src="{{../site_url}}/img/download-pdf.png" alt="view">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <!-- Accordion -->
    </div>
</div>

<script>
    $(document).ready(function () {
        $('._issue_date').each(function () {
            var date = this.innerHTML;
            var newDate = date.split(' ').slice(2,5);
            this.innerHTML = `Dated: ${newDate[1]+' '+newDate[0]+', '+newDate[2]}`;
        })
    })

    $('.option').not('.option:nth-child(1)').on('click', function (e) {
        var target = $(e.currentTarget).data('value')
        if (target == location.pathname) {
            console.log("currently on the same page")
        } else {
            location.href = target
        }
    })

    var page = decodeURI(location.pathname).split('/')[1]
    console.log(page)
    if (page == "Solar") {
        $('.policy_option').val('/Solar/policy-and-guidelines')
    } else if (page == "Wind") {
        $('.policy_option').val('/Wind/policy-and-guidelines')
    } else if (page == "Small Hydro") {
        $('.policy_option').val('/Small Hydro/policy-and-guidelines')
    } else if (page == "Waste To Energy") {
        $('.policy_option').val('/Waste To Energy/policy-and-guidelines')
    } else if (page == "Bio Energy") {
        $('.policy_option').val('/Bio Energy/policy-and-guidelines')
    }

    var lang = '{{language}}';
    if(lang === 'EN'){
        $('.english_data').show();
        $('.hindi_data').hide();
    } else {
        $('.english_data').hide();
        $('.hindi_data').show();
    }
</script>