<link rel="stylesheet" href="{{site_url}}/stylesheets/magnific-popup.css">
<div class="_page_head knowledge_center_bg">
    <p class="_heading">{{page_title}}</p>
</div>
<div class="_policy_wrapper _knowledge_dropdown">
    <div class="_policy_dropdown">
        <div class="search-option">
            <p style="font-family: 'Gotham-Bold'; right: 100px; font-size: 14px; color: #464646; position: absolute; top: 1px; left: 1px; pointer-events: none; margin: 0; background: white; bottom: 1px; padding: 9px 15px; z-index: 10;">{{page_title}}</p>
            <label for="f184318d184322" class="sr-only">Format</label>
            <select title="Format" id="f184318d184322" name="documentType_" class="form-control"
                onChange="window.location.href=this.value">
                <option value="">Choose Option</option>
                <option value="{{site_url}}/knowledge-center/reports">Reports</option>
                <option value="{{site_url}}/knowledge-center/publication">Publications</option>
                <option value="{{site_url}}/knowledge-center/articles">Articles</option>
                <option value="{{site_url}}/knowledge-center/videos">Videos</option>
                <option value="{{site_url}}/knowledge-center/images">Images</option>
                <option value="{{site_url}}/knowledge-center/infographics">Infographics</option>
                <option value="{{site_url}}/knowledge-center/presentations">Presentations</option>
                {{!-- <option value="/knowledge-center/training">Training Module</option>                    
                    <option value="/knowledge-center/case-studies">Case Studies</option>--}}
            </select>
        </div>
    </div>
</div>


<div class="_image_gallery">
    <div class="parent-container">
         <a href="https://mnre.gov.in/img/documents/uploads/file_s-1656391545622.jpeg">
                    <img src="https://mnre.gov.in/img/documents/uploads/file_s-1656391545622.jpeg" alt="">
                    </a>
                <a href="https://mnre.gov.in/img/documents/uploads/file_s-1656391489123.jpeg">
                    <img src="https://mnre.gov.in/img/documents/uploads/file_s-1656391489123.jpeg" alt="">
                    </a>
                  <a href="https://mnre.gov.in/img/documents/uploads/file_s-1656391402267.jpeg">
                    <img src="https://mnre.gov.in/img/documents/uploads/file_s-1656391402267.jpeg" alt="">
                </a>
                <a href="https://mnre.gov.in/img/documents/uploads/9e65fc85e48b40bf99421e05a5f46231.jpg">
                    <img src="https://mnre.gov.in/img/documents/uploads/9e65fc85e48b40bf99421e05a5f46231.jpg" alt="">
                </a>
                <a href="https://mnre.gov.in/img/documents/uploads/c190a60a37e44871b307fe0cc1c390c2.jpg">
                    <img src="https://mnre.gov.in/img/documents/uploads/c190a60a37e44871b307fe0cc1c390c2.jpg" alt="">
                </a>
                <a href="https://mnre.gov.in/img/documents/uploads/b95c92b8051a4e1ea6228ff29bcfa363.jpg">
                    <img src="https://mnre.gov.in/img/documents/uploads/b95c92b8051a4e1ea6228ff29bcfa363.jpg" alt="">
                </a>
                <a href="https://mnre.gov.in/img/documents/uploads/6e8827a889df4515b3ae4e3e12ff13c4.jpg">
                    <img src="https://mnre.gov.in/img/documents/uploads/6e8827a889df4515b3ae4e3e12ff13c4.jpg" alt="">
                </a>
                <a href="https://mnre.gov.in/img/documents/uploads/726d0d5f2cc944c081c2a908a367ea98.jpg">
                    <img src="https://mnre.gov.in/img/documents/uploads/726d0d5f2cc944c081c2a908a367ea98.jpg" alt="">
                </a>
                <a href="https://mnre.gov.in/img/documents/uploads/a02066d7fe994c9e9889ab536a3f4220.jpg">
                    <img src="https://mnre.gov.in/img/documents/uploads/a02066d7fe994c9e9889ab536a3f4220.jpg" alt="">
                </a>
    </div>
</div>


{{!-- 

<div class="_image_gallery">
    <div class="parent-container">
        {{#if images}}
            {{#each images}}
                <a href="{{../document_path}}{{this.Image.url}}">
                    <img src="{{../document_path}}{{this.Image.url}}" alt=""/>
                </a>
            {{/each}}
        {{/if}}        
    </div>
</div> --}}

<script type="text/javascript" src="{{site_url}}/js/jquery.magnific-popup.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.parent-container').magnificPopup({
            delegate: 'a',
            type: 'image',
            gallery:{
                enabled:true
            }
        });
    });
</script>