<link rel="stylesheet" href="{{site_url}}/stylesheets/home_page.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
<style>
    .iframe img {
        width: 100%;
        height: auto;
    }
                         .bannerSlider .slick-next{position: absolute;left: 0px;top: 50%;}
                        .bannerSlider .slick-prev{position: absolute;right: 0px;top: 50%;}

      .varunmodal .modal-content{width: 100%; background-image:linear-gradient(to bottom, rgb(254, 132, 2), rgba(245, 221, 10, 0.67)), url('https://mnre.gov.in/img/documents/uploads/file_s-1617862471490.jpg');background-size: cover;height: 550px;position: relative;}
      {{!-- .varunmodal .modal-content{width: 100%;height: auto;position: relative;float: left;background: #fff;} --}}
       {{!-- .varunmodal .modal-content .modal-body{width:100%;text-align: center;} --}}
       {{!-- .varunmodal .modal-content .modal-body img{width: 100%;max-width: 300px;border-radius: 5px;} --}}
      .varunmodal .modal-title{text-align: center;color: #004178;font-weight: bold;font-size: 20px;width:100%;}
      .varunmodal{width:900px !important;margin:50px auto !important;}
      .varunmodal .text-center{color:#000;font-size:17px;line-height: 26px;padding: 20px;font-weight: 600;}
      .varunmodal strong{width: 90%;margin:0 auto;font-size: 2rem;font-size: 24px;font-weight: bold;color: #fff;background: #004178;border-radius: 10px;padding: 20px;text-align: center;position: absolute;left: 0;bottom: 20px;right:0;}
      .varunmodal button.close {-webkit-appearance: none;padding: 5px;opacity: inherit;cursor: pointer;border-radius: 50px;width: 30px;background: #000;display: inline-flex;border: 0;height: 30px;justify-content: center;align-items: center;position: absolute;right:20px;}
      .varunmodal .close{color: #fff;}

  @media(max-width:768px){
      .varunmodal{max-width:90% !important;}
      .varunmodal button.close{width: 20px !important;height:20px !important;right:5px !important;top:5px !important;font-size: 1rem !important;}
      .varunmodal .modal-title{margin-top: 15px !important;font-size: 15px !important;}
      .varunmodal .text-center{font-size: 13px !important;line-height: 20px !important;padding: 10px !important;}
      .varunmodal .modal-content{height:700px !important;}
      .varunmodal strong{padding: 10px !important;font-size: 16px !important;}
    }
</style>

<script>
    var language = "{{ language }}";
    if (language) {
        document.body.classList.add('{{ language }}'.toLowerCase());
    }
</script>

{{!-- <div id="myModal" class="modal fade" role="dialog" style="display:none;margin-top:30px;">
    <div class="modal-dialog" style="width:90%;margin:0 auto !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h1>welcome</h1>
            </div>
        </div>
    </div>
</div> --}}



<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog varunmodal">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">प्रधानमंत्री-कुसुम योजना के नाम पर धोखाधड़ी करने वाली वैबसाइटों से सावधान</h4>
            </div>
            <div class="modal-body text-center">
              <p>मंत्रालय के संज्ञान में आया है कि कई फर्जी वेबसाइट और मोबाइल एप्लिकेशन आवेदकों से प्रधानमंत्री किसान ऊर्जा सुरक्षा एवं उत्थान महाभियान (प्रधानमंत्री-कुसुम योजना) के  नाम पर किसानों से सोलर पम्प लगाने हेतु ऑनलाइन आवेदन पत्र भरने के साथ पंजीकरण शुल्क तथा पंप की कीमत का ऑनलाइन भुगतान करने को कह रहे हैं। इनमें से कुछ फर्जी वेबसाइट डोमेन नाम * .org, * .in, * .com में पंजीकृत हैं जैसे www.kusumyojanaonline.in.net, www.pmkisankusumyojana.co.in, www.onlinekusamyojana.org.in, www.pmkisankusumyojana.com और इसी तरह की कई अन्य वेबसाइटें हैं।<br><br>
                इसलिए प्रधानमंत्री-कुसुम योजना के लिए आवेदन करने वाले सभी किसानों को सलाह दी जाती है कि वे धोखाधड़ी करने वाली वेबसाइटों पर न जाएं तथा कोई भी भुगतान न करें। प्रधानमंत्री-कुसुम योजना को राज्य सरकार के विभागों द्वारा कार्यान्वित किया जा रहा है। <br><br>
                योजना की अधिक जानकारी के लिए नवीन और नवीकरणीय ऊर्जा मंत्रालय (MNRE) की आधिकारिक वेबसाइट www.mnre.gov.in पर विजिट करें अथवा टोल फ्री नंबर 1800-180-3333 डायल करें !
                </p>                
            </div>
            <strong>सतर्क रहें धोखाधड़ी से बचें </strong>          
          </div>
        </div>
</div>


<style>

.sticky-social{
  position:fixed;
  top:94px;
  left:0px;
  padding:0px;
  margin:0px;
  z-index: 99;
}
.social{
  list-style:none;
}
.social li{
  padding:8px 8px;
  transition:all 0.4s ease-in-out;
}
.social li:hover{
    margin-right:-30px;
 box-shadow:2px 5px 10px grey;
}
.social li:hover .fa{
    margin-left:20px;
  
}
.fa{
  color:#fff;
  transition:all 0.8s ease-in-out;
}
.fb{
  background-color:#3C5A98;
}
.twitter{
    background-color:#1EA1F2;
}
.insta{
    background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  
}
.pin{
    background-color:#CB2128;
}
.linked{
    background-color:#0e76a8 ;
}
</style>






{{!-- <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog varunmodal">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">International Yoga Day 21st June </h4>
            </div>
            <div class="modal-body text-center">
               <img src="{{site_url}}/img/yoga.jpg">
          </div>
        </div>
      </div>
</div> --}}

{{!-- <div id="carouselExampleFade1" class="carousel slide desktop" data-ride="carousel">
    <div class="carousel-inner">
        {{#each BANNERS}}
        <div class="carousel-item _carousel">
            <img src=".{{this.BANNER_IMAGE.LOCATION}}" class="d-block w-100 _carousel_image" alt="...">
            {{#if this.BANNER_IMAGE_TITLE}}
            <div class="header-text hidden-xs _carousel_text">
                <div class="httext">
                    <h4>
                        <span>{{this.BANNER_IMAGE_TITLE}}</span>
                    </h4>
                    <span class="stext">{{this.BANNER_IMAGE_DESCRIPTION}}</span>
                </div>
                {{#if this.BANNER_BUTTON_TEXT}}
                <div class="noone">
                    <a class="btn btn-uni btn-sm btn-min-block _carousel_button" href="{{this.BANNER_BUTTON_LINK}}"
                        target="_blank">{{this.BANNER_BUTTON_TEXT}}</a>
                </div>
                {{/if}}
            </div>
            {{/if}}
        </div>
        {{/each}}


        <a class="carousel-control-prev" href="#carouselExampleFade1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon carousel__nav--home" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade1" role="button" data-slide="next">
            <span class="carousel-control-next-icon carousel__nav--home" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div> --}}
<img style="width:100%;float:left;" src="https://cbpssubscriber.mygov.in/assets/uploads/3rpbtfC38B9muoRQ" id="_PXVihMWW9lyeIqbu" onclick="javascript:window.open('https://cbpssubscriber.mygov.in/aff/PXVihMWW9lyeIqbu')" style="cursor:pointer" onload="javascript:(function(){if(typeof _done == 'undefined' || !_done){this.setAttribute('src', this.getAttribute('src')+'?'+Math.floor((Math.random() * 100) + 1)); _done=true;}}).call(this)"  >



<div id="carouselExampleFade" class="carousel slide mobile" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{site_url}}/img/mobile_slide1.png" class="d-block w-100" alt="...">
            <div class="header-text hidden-xs">
                <div class="container">
                    <div class="col-sm-8 httext">
                        <h4>
                            <span>Harnessing Solar Power for Prosperous Rural India</span>
                        </h4>
                        <span class="stext">More earnings without extra expenditure on diesel</span>
                    </div>
                    <div class=" col-sm-4 noone ml-5 mt-3">
                        <a class="btn btn-theme btn-sm btn-min-block" href="{{site_url}}/solar/current-status/">Discover
                            Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{site_url}}/img/mobile_slide2.png" class="d-block w-100" alt="...">
            <div class="header-text hidden-xs">
                <div class="col-sm-8 httext">
                    <h4>
                        <span>Solarization of Stadiums</span>
                    </h4>
                </div>
                <div class="col-sm-4 noone ml-5 mt-3">
                    <a class="btn btn-uni btn-sm btn-min-block" href="{{site_url}}/solar/current-status/">Discover
                        Now</a>
                </div>

            </div>
        </div>
        <div class="carousel-item">
            <img src="{{site_url}}/img/mobile_slide3.png" class="d-block w-100" alt="...">
            <div class="header-text hidden-xs">
                <div class="col-sm-8 httext">
                    <h4>
                        <span>Harnessing Wind Power</span>
                    </h4>
                </div>
                <div class="col-sm-4 noone ml-5 mt-3">
                    <a class="btn btn-uni btn-sm btn-min-block" href="{{site_url}}/wind/current-status/">Discover
                        Now</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{site_url}}/img/mobile_slide4.png" class="d-block w-100" alt="...">
            <div class="header-text hidden-xs">
                <div class="col-sm-8 httext">
                    <h4>
                        <span>Hybridization of Solar and Wind Power</span>
                    </h4>
                </div>
                <div class="col-sm-4 noone ml-5 mt-3">
                    <a class="btn btn-uni btn-sm btn-min-block" href="{{site_url}}/Wind/policy-and-guidelines">Discover
                        Now</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{site_url}}/img/mobile_slide5.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{site_url}}/img/mobile_slide6.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{site_url}}/img/mobile_slide7.png" class="d-block w-100" alt="...">
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon carousel__nav--home" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon carousel__nav--home" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container_fluid desktop _cards">
    <div class="_card_grid">
        <div class="service-box">
            <div class="service-icon modi">
            </div>
            <div class="service-content _card_back">
                {{#ifCond language 'EN'}}
                <div class="_inner">
                    Shri Narendra Modi <br> Prime Minister of India
                </div>
                <div class="_inner">
                    <span class="b-social">
                        <a href="https://www.facebook.com/narendramodi/" target="_blank"><i
                                class="fab fa-facebook"></i></a>&nbsp;
                        <a href="https://twitter.com/narendramodi" target="_blank"><i
                                class="fab fa-twitter-square"></i></a>&nbsp;
                        <a href="https://in.linkedin.com/in/narendramodi" target="_blank"><i
                                class="fab fa-linkedin"></i>&nbsp;</a>
                        <a href="https://www.pmindia.gov.in/en/" target="_blank"><i
                                class="fas fa-globe-asia"></i></a></span>
                </div>
                {{else}}
                <div class="_inner">
                    श्री नरेन्द्र मोदी <br> भारत के प्रधानमंत्री
                </div>
                <div class="_inner">
                    <span class="b-social">
                        <a href="https://www.facebook.com/narendramodi/" target="_blank"><i
                                class="fab fa-facebook"></i></a>&nbsp;
                        <a href="https://twitter.com/narendramodi" target="_blank"><i
                                class="fab fa-twitter-square"></i></a>&nbsp;
                        <a href="https://in.linkedin.com/in/narendramodi" target="_blank"><i
                                class="fab fa-linkedin"></i>&nbsp;</a>
                        <a href="https://www.pmindia.gov.in/en/" target="_blank"><i
                                class="fas fa-globe-asia"></i></a></span>
                </div>
                {{/ifCond}}
            </div>
        </div>
    </div>

    {{!-- <div class="_card_grid">
        <div class="service-box">
            <div class="service-icon solar-card">
            </div>
            <div class="service-content _card_back _middle">
                {{#ifCond language 'EN'}}
                <div class="_inner">
                    The Ministry of New and Renewable Energy (MNRE is the nodal Ministry of the
                    Government of India for all matters relating to new and renewable energy)
                </div>
                <div class="_inner">
                    <span class="b-social">
                        <a href="{{site_url}}/the-ministry/what-does-the-ministry-do/">
                            <button type="button" class="btn btn-primary bbtn _button">know more</button>
                        </a>
                    </span>
                </div>
                {{else}}
                <div class="_inner">
                    नवीन और नवीकरणीय ऊर्जा मंत्रालय (एमएनआरई अक्षय ऊर्जा से संबंधित सभी मामलों के लिए भारत सरकार
                    का नोडल मंत्रालय है)
                </div>
                {{/ifCond}}
            </div>
        </div>
    </div> --}}

    <div class="_card_grid">
        <div class="service-box">
            <div class="service-icon rjk">
            </div>
            <div class="service-content _card_back">
                {{#ifCond language 'EN'}}
                <div class="_inner">
                    Shri Raj Kumar Singh <br>Hon'ble Cabinet Minister <br>(Power, New and Renewable Energy)
                </div>
                <div class="_inner">
                    <span class="b-social">
                        <a href="https://www.facebook.com/RajKumarSinghIndia/" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com/RajKSinghIndia" target="_blank"> <i
                                class="fab fa-twitter-square"></i></a>
                        {{!-- <a href="javascript:;"> <i class="fab fa-linkedin"></i></a> --}}
                        {{!-- <a href="javascript:;"> <i class="fas fa-globe-asia"></i></a> --}}
                    </span>
                </div>
                {{else}}
                <div class="_inner">
                    श्री राज कुमार सिंह <br>
                    माननीय केन्द्रीय मंत्री<br>
                    (विद्युत एवं नवीन और नवीकरणीय ऊर्जा)
                </div>
                {{/ifCond}}
            </div>
        </div>
    </div>


       <div class="_card_grid">
        <div class="service-box">
            <div class="service-icon khuba">
            </div>
            <div class="service-content _card_back">
                {{#ifCond language 'EN'}}
                <div class="_inner">
                    Shri Bhagwanth Khuba <br>Hon'ble Minister of State <br>(New and Renewable Energy, Chemicals and Fertilizers)
                </div>
                <div class="_inner">
                    <span class="b-social">
                        <a href="javascript:void(0);" target="_blank"><i
                                class="fab fa-facebook"></i></a>
                        <a href="javascript:void(0);" target="_blank"> <i
                                class="fab fa-twitter-square"></i></a>
                        {{!-- <a href="javascript:;"> <i class="fab fa-linkedin"></i></a> --}}
                        {{!-- <a href="javascript:;"> <i class="fas fa-globe-asia"></i></a> --}}
                    </span>
                </div>
                {{else}}
                <div class="_inner">
                 श्री भगवंत खुबा <br>माननीय राज्य मंत्री <br>(नवीन और नवीकरणीय ऊर्जा, रसायन एवं उर्वरक)
                </div>
                {{/ifCond}}
            </div>
        </div>
    </div>

</div>

<div class="home_marquee">
    <marquee behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();" width="100%" height="40px"
        scrollamount="6" direction="left"
        style="background:#f57b32; display: flex; align-items: center; color: white; font-size: 15px">
        <a href="{{document_path}}/uploads/file_s-1616073100390.pdf" style="color: white; font-size: 15px;"
            target="_blank">प्रधानमंत्री किसान ऊर्जा सुरक्षा एवं उत्थान महाभियान (प्रधानमंत्री-कुसुम) योजना के तहत
            पंजीकरण के लिए धोखाधड़ी करने वाली वैबसाइटों से सावधान</a> &nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; <a
            href="{{document_path}}/uploads/file_s-1583927710425.pdf" style="color: white; font-size: 15px;"
            target="_blank">PM KUSUM and Rooftop Solar Scheme - Toll-Free Number
            - 1800-180-3333.</a>
    </marquee>
</div>

<div class="container mobile _home_highlights">
    <div class="row">
        <div class="col-sm-12 mb-3">
            <div class="service-icon modi">
                <div class="front-content hbn">
                    The world must turn to sun to power our future<br>
                    <a href="https://www.facebook.com/narendramodi/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/narendramodi" target="_blank"><i class="fab fa-twitter-square"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 mb-3">
            <div class="service-box">
                <div class="service-icon solar-card">
                    <div class="front-content hbn">
                        The Ministry of New and Renewable Energy<br>
                        <a href="{{site_url}}/the-ministry/what-does-the-ministry-do/"> <button type="button"
                                class="btn btn-primary bbtn knm mt-1">know more</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 mb-3">
            <div class="service-icon rjk">
                <div class="front-content hbn">
                    Shri Raj Kumar Singh <br>Hon'ble Cabinet Minister <br>(Power, New & Renewable Energy)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container _whats_new">
    <div class="row px-5 pt-5">
        <div class="col-sm-8">
            <div class="_whats_new_left">
                <div class="row">
                    {{#ifCond language 'EN'}}
                    <div class="col-sm-12">
                        <h2 class="knw line__height">What's New</h2>
                    </div>
                    {{else}}
                    <div class="col-sm-12">
                        <h2 class="knw line__height">नया क्या है</h2>
                    </div>

                    {{/ifCond}}
                </div>
                <div class="disp row pt-4 _new_section">
                    <div class="col-sm-12 tabs">
                        <div class="tab" style="background-color:inherit;">
                            <button class="tablinks active" onclick="openCity(event, 'currentnotice')" id="defaultOpen">
                                {{#ifCond language 'EN'}}
                                <h3 class="knwht">Current Notices</h3>
                                {{else}}
                                <h3 class="knwht">वर्तमान नोटिस</h3>
                                {{/ifCond}}
                            </button>
                             <button class="tablinks" onclick="openCity(event, 'annualreport')">
                                {{#ifCond language 'EN'}}
                                <h3 class="knwht">Annual Report</h3>
                                {{else}}
                                <h3 class="knwht">वार्षिक रिपोर्ट</h3>
                                {{/ifCond}}
                            </button>
                            {{!-- <button class="tablinks" onclick="openCity(event, 'notification')">
                                <h3 class="knwht">Office Orders & Memorandums
                                </h3>
                            </button> --}}
                            {{!-- <button class="tablinks _press_release_btn">
                                {{#ifCond language 'EN'}}
                                <a href="https://pib.gov.in/allRel.aspx" class="external_link tablinks">Press
                                    Release</a>
                                {{else}}
                                <a href="https://pib.gov.in/allRel.aspx" class="external_link tablinks">प्रैस
                                    विज्ञप्ति</a>
                                {{/ifCond}}
                            </button> --}}
                            <button class="tablinks" onclick="openCity(event, 'tender')">
                                {{#ifCond language 'EN'}}
                                <h3 class="knwht">Tender</h3>
                                {{else}}
                                <h3 class="knwht">टेंडर</h3>
                                {{/ifCond}}
                            </button>
                            {{!-- <button class="tablinks" onclick="openCity(event, 'akshay')">
                                {{#ifCond language 'EN'}}
                                <h3 class="knwht">Akshay Urja Magazine</h3>
                                {{else}}
                                <h3 class="knwht">अक्षय ऊर्जा पत्रिका</h3>
                                {{/ifCond}}
                            </button> --}}
                           
                        </div>
                        <div id="currentnotice" class="tabcontent">
                            <div class="_inner">
                                <div class="_policy_accordion">
                                    <div class="accordion" id="accordionExample">
                                        {{#each currentnotice}}
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#collapse_{{@index}}" aria-expanded="true"
                                                        aria-controls="collapseOne">
                                                        <p class="_issue_date">{{this.issue_date}}</p>
                                                        {{this.title}}
                                                    </button>
                                                </h2>
                                            </div>

                                            <div id="collapse_{{@index}}" class="collapse" aria-labelledby="headingOne"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>{{this.description}}</p>

                                                    <div class="_pdf_links">
                                                        <a target="_blank" href="{{../document_path}}{{this.file.url}}"
                                                            class="ml-1">
                                                            <img class="pdf" src="{{../site_url}}/img/view-pdf.png"
                                                                alt="view">
                                                        </a>
                                                        <a data-href="{{../document_path}}{{this.file.url}}"
                                                            class="ml-1 download_file">
                                                            <img class="pdf" src="{{../site_url}}/img/download-pdf.png"
                                                                alt="view">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                                {{#ifCond language 'EN'}}
                                <a href="{{site_url}}/public-information/current-notice" class="_see_all">See All</a>
                                {{else}}
                                <a href="{{site_url}}/public-information/current-notice" class="_see_all">सभी देखें </a>
                                {{/ifCond}}
                            </div>
                        </div>
                        {{!-- <div id="notification" class="tabcontent">
                            <div class="_inner">
                                <div class="_policy_accordion">
                                    <div class="accordion" id="accordionExample">
                                        {{#each officememorand}}
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#collapse_{{@index}}" aria-expanded="true"
                                                        aria-controls="collapseOne">
                                                        {{this.title}}
                                                    </button>
                                                </h2>
                                            </div>

                                            <div id="collapse_{{@index}}" class="collapse" aria-labelledby="headingOne"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>{{this.description}}</p>

                                                    <div class="_pdf_links">
                                                        <a target="_blank" href="http://10.246.24.71/{{this.file.url}}"
                                                            class="ml-1">
                                                            <img class="pdf" src="/img/view-pdf.png" alt="view">
                                                        </a>
                                                        <a data-href="http://10.246.24.71/{{this.file.url}}"
                                                            class="ml-1 download_file">
                                                            <img class="pdf" src="/img/download-pdf.png" alt="view">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                                <a href="/public-information/office-orders" class="_see_all">See All</a>
                            </div>
                        </div> --}}
                        <div id="tender" class="tabcontent">
                            <div class="_inner">
                                <div class="_policy_accordion">
                                    <div class="accordion" id="accordionExample">

                                        {{#if tenders}}
                                        {{#each tenders}}
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#collapse_{{@index}}1" aria-expanded="true"
                                                        aria-controls="collapseTwo">
                                                        {{this.title}}
                                                    </button>
                                                </h2>
                                            </div>

                                            <div id="collapse_{{@index}}1" class="collapse" aria-labelledby="headingTwo"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>{{this.description}}</p>

                                                    <div class="_pdf_links">
                                                        <a target="_blank" href="{{../document_path}}{{this.file.url}}"
                                                            class="ml-1">
                                                            <img class="pdf" src="{{../site_url}}/img/view-pdf.png"
                                                                alt="view">
                                                        </a>
                                                        <a data-href="{{../document_path}}{{this.file.url}}"
                                                            class="ml-1 download_file">
                                                            <img class="pdf" src="{{../site_url}}/img/download-pdf.png"
                                                                alt="view">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                        {{else}}
                                        <p class="_no_tender">No Tenders Found</p>
                                        {{/if}}
                                    </div>
                                </div>
                                {{#if tenders}}
                                <a href="{{site_url}}/tenders/recent" class="_see_all">See All</a>
                                {{/if}}
                            </div>
                        </div>

                        <div id="akshay" class="tabcontent">
                            <div class="_inner">
                                <div class="_policy_accordion">
                                    <div class="accordion" id="accordionExampleAk">
                                        {{#each akshayurja}}
                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#collapse_{{@index}}2" aria-expanded="true"
                                                        aria-controls="collapseThree">
                                                        {{this.title}}
                                                    </button>
                                                </h2>
                                            </div>

                                            <div id="collapse_{{@index}}2" class="collapse"
                                                aria-labelledby="headingThree" data-parent="#accordionExampleAk">
                                                <div class="card-body">
                                                    <p>{{this.description}}</p>

                                                    <div class="_pdf_links">
                                                        <div class="_pdf_links_inner">
                                                            <p>English</p>
                                                            <a target="_blank"
                                                                href="{{../document_path}}{{this.file.url}}"
                                                                class="ml-1">
                                                                <img class="pdf" src="{{../site_url}}/img/view-pdf.png"
                                                                    alt="view">
                                                            </a>
                                                            <a data-href="{{../document_path}}{{this.file.url}}"
                                                                class="ml-1 download_file">
                                                                <img class="pdf"
                                                                    src="{{../site_url}}/img/download-pdf.png"
                                                                    alt="view">
                                                            </a>
                                                        </div>
                                                        {{#if this.pdfhindi}}
                                                        <div class="_pdf_links_inner">
                                                            <p>Hindi</p>
                                                            <a target="_blank"
                                                                href="{{../document_path}}{{this.file.url}}"
                                                                class="ml-1">
                                                                <img class="pdf" src="{{../site_url}}/img/view-pdf.png"
                                                                    alt="view">
                                                            </a>
                                                            <a data-href="{{../document_path}}{{this.file.url}}"
                                                                class="ml-1 download_file">
                                                                <img class="pdf"
                                                                    src="{{../site_url}}/img/download-pdf.png"
                                                                    alt="view">
                                                            </a>
                                                        </div>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                                <a href="{{site_url}}/knowledge-center/publication" class="_see_all">See
                                    All</a>
                            </div>
                        </div>

                        <div id="annualreport" class="tabcontent">
                            <div class="_inner">
                                <div class="_policy_accordion">
                                    <div class="accordion" id="accordionExample">
                                        {{#each annualreports}}
                                        <div class="card">
                                            <div class="card-header" id="headingFour">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#collapse_{{@index}}3" aria-expanded="true"
                                                        aria-controls="collapseFour">
                                                        {{this.title}}
                                                    </button>
                                                </h2>
                                            </div>

                                            <div id="collapse_{{@index}}3" class="collapse"
                                                aria-labelledby="headingFour" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>{{this.description}}</p>

                                                    <div class="_pdf_links">
                                                        <div class="_pdf_links_inner">
                                                            <p>English</p>
                                                            <a target="_blank"
                                                                href="{{../document_path}}{{this.file.url}}"
                                                                class="ml-1">
                                                                <img class="pdf" src="{{../site_url}}/img/view-pdf.png"
                                                                    alt="view">
                                                            </a>
                                                            <a data-href="{{../document_path}}{{this.file.url}}"
                                                                class="ml-1 download_file">
                                                                <img class="pdf"
                                                                    src="{{../site_url}}/img/download-pdf.png"
                                                                    alt="view">
                                                            </a>
                                                        </div>
                                                        {{#if this.pdfhindi}}
                                                        <div class="_pdf_links_inner">
                                                            <p>Hindi</p>
                                                            <a target="_blank"
                                                                href="{{../document_path}}{{this.pdfhindi.url}}"
                                                                class="ml-1">
                                                                <img class="pdf" src="{{../site_url}}/img/view-pdf.png"
                                                                    alt="view">
                                                            </a>
                                                            <a data-href="{{../document_path}}{{this.pdfhindi.url}}"
                                                                class="ml-1 download_file">
                                                                <img class="pdf"
                                                                    src="{{../site_url}}/img/download-pdf.png"
                                                                    alt="view">
                                                            </a>
                                                        </div>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                                <a href="{{site_url}}/knowledge-center/publication" class="_see_all">See
                                    All</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- IRIX Section -->
        <div class="col-sm-4">
            <div class="_idea_exchange">
                {{#ifCond language 'EN'}}
                <h2 class="idea line__height">Idea Exchange</h2>
                {{else}}
                <h2 class="idea line__height">विचारों का आदान-प्रदान</h2>
                {{/ifCond}}

                <a class="external_link" href="http://irix.gov.in/" target="_blank">
                    <img class="img img-fluid pt-4 irix__width" src="/img/irix.jpg">
                </a>
                <div class="d-flex flex-row bd-highlight idea_exchange_justify pt-2 irix__width _irix_button_grid">
                    <div class="p-2 bd-highlight">
                        <a class="btn btn-id btn-sm external_link" href="http://irix.gov.in/ideate" target="_blank">
                            ideate
                        </a>
                    </div>
                    <div class="p-2 bd-highlight">
                        <a class="btn btn-in btn-sm external_link" href="http://irix.gov.in/innovate" target="_blank">
                            innovate
                        </a>
                    </div>
                    <div class="p-2 bd-highlight">
                        <a class="btn btn-inc btn-sm external_link" href="http://irix.gov.in/incubate" target="_blank">
                            incubate
                        </a>
                    </div>
                </div>
                <div class="_irix_content">
                    iRiX is a real-time idea exchange platform for the Global RE community to ideate, innovate and
                    incubate in the renewable energy sector.
                </div>
            </div>
            {{!-- <div class="row">
                <div class="col-sm-12">
                    <div class="_card" style="width:100%;text-align:center; padding-top:25px;">
                        <a href="https://digitalindiaawards.gov.in" target="_blank"><img
                                src="{{site_url}}/img/icons/aw.gif" alt="" / style="width:80%;"></a>
                    </div>
                </div>
            </div> --}}
        </div>



    </div>

    <div class="row px-5 pt-3 _home_videos">
        <div class="col-sm-8">
            <div class="row">
                <div class="container">
                    <div class="row mt-4 mb-4">
                        <div class="col-sm-12">
                            {{#ifCond language 'EN'}}
                            <h2 class="videos">
                                Videos <span></span>
                            </h2>
                            {{else}}
                            <h2 class="videos">
                                वीडियो <span></span>
                            </h2>
                            {{/ifCond}}
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {{#each videos}}
                                    <div class="carousel-item">
                                        <video
                                            style="width: 100%; height: 450px; background: black url({{../document_path}}{{this.thumbnail.url}}) no-repeat center center; background-size: cover;"
                                            controls poster="{{../document_path}}{{this.thumbnail.url}}" muted
                                            preload="none" class="homeVideo">
                                            <source src="{{../document_path}}{{this.file.url}}">
                                        </video>
                                    </div>
                                    {{/each}}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <hr class="mbar red__border">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-4">
            {{#ifCond language 'EN'}}
            <h2 class="social mb-3 mt-4 _social_heading">
                Trending Stories <span></span>
            </h2>

            {{else}}
            <h2 class="social mb-3 mt-4 _social_heading">
                सोशल मीडिया<span></span>
            </h2>
            {{/ifCond}}
   
            {{!-- <div class="text-center"><img class="img-fluid" src="/img/fb.png" width="50%"></div> --}}
            {{!-- <img class="flexible mt-4" src="http://placehold.it/400x300" alt="Placehold.it" width="100%" /> --}}
            <div style="margin-top: 20px;">
                  
                <div class="_social_slider" style="width: 100%;">
                        <div class="bannerSlider">
               
                            <div class="slide">
                                <a class="twitter-timeline" data-width="100%" data-height="400" data-theme="dark"
                                href="https://twitter.com/mnreindia?ref_src=twsrc%5Etfw"></a>
                            </div>
                        </div>
                            
                                       
                </div>


                {{!-- <a class="twitter-timeline" data-width="100%" data-height="394" data-theme="dark"
                    href="https://twitter.com/mnreindia?ref_src=twsrc%5Etfw">Tweets by mnreindia</a> --}}

                    


<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <hr class="mt-5 blue__border" style="margin-top: 16px !important;">
        </div>
    </div>
</div>

<div class="container intbg _initiative_achivement">
    <div class="_init_head">
        <div class="text-center">
            {{#ifCond language 'EN'}}
            <div>
                <h1 class="init">Initiatives & Achievements</h1>
            </div>
            {{else}}
            <div>
                <h1 class="init">पहल और उपलब्धियां</h1>
            </div>
            {{/ifCond}}
        </div>
    </div>
    <div class="col-sm-12 padding-t__40">

        {{!-- <div class="row">
            {{#each initiativeAchi}}
            <div class="col-sm-{{this.column}} initbg _inner_achiv">
                <p class="initc">
                    {{{this.title}}}
                </p>
            </div>
            {{/each}}
        </div> --}}


        <div class="row">
            <div class="col-sm-6 initbg _inner_achiv">
                {{#ifCond language 'EN'}}
                <p class="initc">
                    SOLAR CAPACITY INCREASED IN THE LAST 7 YEARS FROM AROUND <span>2.6 GW TO MORE THAN 42 GW</span>
                </p>
                {{else}}
                <p class="initc">
                    विगत 7 वर्षों में सौर क्षमता
                    करीब 2.6 गीगावाट से बढ़कर 42 गीगावाट से अधिक हुई



                </p>
                {{/ifCond}}
            </div>

            <div class="col-sm-6 initbg _inner_achiv">
                {{#ifCond language 'EN'}}
                <p class="initc">
                    WORLD'S LARGEST RENEWABLE ENERGY EXPANSION PROGRAMME <span>175 GW TILL 2022</span>
                </p>
                {{else}}
                <p class="initc">
                    दुनिया में सबसे बड़ा अक्षय ऊर्जा विस्तार कार्यक्रम
                    वर्ष 2022 तक 175 गीगावाट


                </p>
                {{/ifCond}}
            </div>

            <div class="col-sm-4 initbg _inner_achiv">
                {{#ifCond language 'EN'}}
                <p class="initc">
                    RENEWABLE ENERGY HAS A SHARE OF <span>25.24%</span> IN THE TOTAL INSTALLED GENERATION CAPACITY IN
                    THE COUNTRY<span></p>
                {{else}}
                <p class="initc">देश में कुल संस्थापित उत्पादन क्षमता में
                    अक्षय ऊर्जा का हिस्सा
                    25.24% है

                </p>
                {{/ifCond}}
            </div>

            <div class="col-sm-2 initbg _inner_achiv">
                {{#ifCond language 'EN'}}
                <p class="initc">
                    India now at <span>5TH GLOBAL<br>
                        POSITION</span> for overall installed renewable energy capacity
                </p>
                {{else}}
                <p class="initc">
                    अब भारत
                    समग्र संस्थापित अक्षय ऊर्जा क्षमता
                    के लिए विश्व में 5वें स्थान पर है


                </p>
                {{/ifCond}}
            </div>

            <div class="col-sm-2 initbg _inner_achiv">
                {{#ifCond language 'EN'}}
                <p class="initc">
                    SOLAR POWER TARIFF REDUCED BY MORE THAN <span>75%</span> USING PLUG AND PLAY MODEL
                </p>
                {{else}}
                <p class="initc">
                    प्लग एंड प्ले मॉडल से
                    सौर विद्युत के टैरिफ में
                    75% से अधिक कमी


                </p>
                {{/ifCond}}
            </div>

            <div class="col-sm-4 initbg _inner_achiv">
                {{#ifCond language 'EN'}}
                <p class="initc">
                    ABOUT 19 TIMES HIGHER SOLAR PUMPS&nbsp; INSTALLED BETWEEN 2014-19&nbsp;| 2.25 LAKH VERSUS UPTO 2014
                    - 11,626
                </p>
                {{else}}
                <p class="initc">
                    2014-19 के बीच करीब 19 गुणा अधिक सौर पंप लगाए गए<br>
                    2014 तक – 11626 की तुलना में 2.25 लाख

                </p>
                {{/ifCond}}
            </div>

            <div class="col-sm-4 initbg _inner_achiv">
                {{#ifCond language 'EN'}}
                <p class="initc">
                    RENEWABLE ENERGY INSTALLED CAPACITY INCREASED 226% IN LAST 5 YEARS
                </p>
                {{else}}
                <p class="initc">
                    संस्थापित अक्षय ऊर्जा क्षमता में<br>
                    विगत 5 वर्षों में 226% की बढौतरी

                </p>
                {{/ifCond}}
            </div>

            <div class="col-sm-2 initbg _inner_achiv">
                {{#ifCond language 'EN'}}
                <p class="initc">
                    SOLAR PARK SCHEME DOUBLED FROM <span>20GW TO 40GW</span>
                </p>
                {{else}}
                <p class="initc">
                    सौर पार्क योजना <br>
                    20 गीगावाट से दोगुना बढ़कर 40 गीगावाट

                </p>
                {{/ifCond}}
            </div>

            <div class="col-sm-2 initbg _inner_achiv">
                {{#ifCond language 'EN'}}
                <p class="initc">
                    RECORD LOW SOLAR TARIFF <span>RS 2.44/UNIT</span> ACHIEVED IN BHADLA, RAJASTHAN
                </p>
                {{else}}
                <p class="initc">भाडला, राजस्थान में
                    2.44 रु./ यूनिट का<br>
                    सबसे कम सौर टैरिफ
                    दर्ज किया गया
                </p>
                {{/ifCond}}
            </div>

            <div class="col-sm-4 initbg _inner_achiv">
                {{#ifCond language 'EN'}}
                <p class="initc">
                    HIGHEST EVER WIND CAPACITY&nbsp;<span style="font-size: 1rem; font-weight: 400;">ADDITION
                        OF&nbsp;</span><span
                        style="font-size: 1rem; font-weight: 400; font-style: normal;">5.5&nbsp;</span><span
                        style="font-size: 1rem; font-weight: 400;">GW IN 2016-2017</span>
                </p>
                {{else}}
                <p class="initc">2016-2017 में अब तक की <br>
                    सबसे अधिक पवन क्षमता जोड़ी गई
                </p>
                {{/ifCond}}
            </div>
        </div>





    </div>
</div>

<div class="container isa">
    <div class="row py-4">
        <div class="col-sm-6 pl-5">
            {{#ifCond language 'EN'}}
            <h3 class="isah">International Solar Alliance</h2>
                {{else}}
                <h3 class="isah">अन्तर्राष्ट्रीय सौर गठबंधन</h2>
                    {{/ifCond}}

                    <div class="content">
                        {{#ifCond language 'EN'}}
                        <span class="isab">
                            A treaty-based international intergovernmental organization, International Solar Alliance
                            (ISA),
                            aims at mobilizing more than USD 1000 billion of investment needed by 2030 for the massive
                            deployment of solar energy. Established by Prime Minister Narendra Modi and President of
                            France
                            Francois Hollande on November 30, 2015, ISA’s objective is to scale up solar energy, reduce
                            the
                            cost
                            of solar power generation through aggregation of demand for solar finance, technologies,
                            innovation,
                            research and development, and capacity building.
                        </span><br><br>
                        {{else}}
                        <span class="isab">
                            एक संधि-आधारित अन्तर्राष्ट्रीय अन्तर सरकारी संगठन, अन्तर्राष्ट्रीय सौर गठबंधन (आईएसए) का
                            उद्देश्य सौर ऊर्जा के व्यापक विकास के लिए वर्ष 2030 तक अपेद्वित 1000 बिलियन यूएस डॉलर से
                            अधिक का निवेश जुटाना है । प्रधानमंत्री श्री नरेन्द्र मोदी और फ्रांस के राष्ट्रपति श्री
                            फ्रांस्वा ओलांद द्वारा 30 नवम्बर 2015 को आईएसए की स्थापना किए जाने पर आईएसए का उद्देश्य सौर
                            वित्तपपोषण, प्रौद्योगिकियों, नवोन्मेष, अनुसंधान और विकास तथा क्षमता निर्माण की मांग एकत्र
                            करके सौर ऊर्जा में वृद्धि करना और सौर विद्युत उत्पादन की लागत में कमी लाना है ।
                        </span><br><br>
                        {{/ifCond}}

                        {{#ifCond language 'EN'}}
                        <a class="btn btn-isa btn-sm external_link" href="http://isolaralliance.org/">read more</a>
                        {{else}}
                        <a class="btn btn-isa btn-sm external_link" href="http://isolaralliance.org/">और देखें </a>
                        {{/ifCond}}
                    </div>
        </div>
    </div>
</div>


<div class="disp container _institue_agency">
    <div class="row py-5 justify__center">
        <div class="col-sm-6 margin-t__10">
            <div class="text-center">
                {{#ifCond language 'EN'}}
                <div>
                    <h1 class="initi">INSTITUTES & Agencies</h1>
                </div>
                {{else}}
                <div>
                    <h1 class="initi">संस्थान और एजेंसियां</h1>
                </div>
                {{/ifCond}}
            </div>
        </div>
    </div>

    <div class="_home_institues">
        <div class="item">
            <div class="item_inner nise nise__bg" id="NISE">
                {{#ifCond language 'EN'}}
                <span class="_heading">National Institute of Solar Energy</span>
                {{else}}
                <span class="_heading">राष्ट्रीय सौर ऊर्जा संस्थान</span>
                {{/ifCond}}

                {{#ifCond language 'EN'}}
                <div class="vtex">
                    VISIT NOW <i class="fas fa-arrow-circle-right"></i>
                </div>
                {{else}}

                <div class="vtex">
                    आगे देखें <i class="fas fa-arrow-circle-right"></i>
                </div>
                {{/ifCond}}
            </div>
        </div>
        <div class="item">
            <div class="item_inner niwe niwe__bg" id="NIWE">
                {{#ifCond language 'EN'}}
                <span class="_heading">National Institute of Wind Energy</span>
                {{else}}
                <span class="_heading">राष्ट्रीय पवन ऊर्जा संस्थान</span>
                {{/ifCond}}

                {{#ifCond language 'EN'}}
                <div class="vtex">
                    VISIT NOW <i class="fas fa-arrow-circle-right"></i>
                </div>
                {{else}}

                <div class="vtex">
                    आगे देखें <i class="fas fa-arrow-circle-right"></i>
                </div>
                {{/ifCond}}
            </div>
        </div>
        <div class="item">
            <div class="item_inner nire nire__bg" id="NIRE">
                {{#ifCond language 'EN'}}
                <span class="_heading">SSS National Institute of Renewable Energy</span>
                {{else}}
                <span class="_heading">सरदार स्वर्ण सिंह राष्ट्रीय अक्षय ऊर्जा संस्थान </span>
                {{/ifCond}}
                {{#ifCond language 'EN'}}
                <div class="vtex">
                    VISIT NOW <i class="fas fa-arrow-circle-right"></i>
                </div>
                {{else}}

                <div class="vtex">
                    आगे देखें <i class="fas fa-arrow-circle-right"></i>
                </div>
                {{/ifCond}}
            </div>
        </div>
        <div class="item">
            <div class="item_inner tireda tireda__bg" id="TIREDA">
                {{#ifCond language 'EN'}}
                <span class="_heading">The Indian Renewable Energy Development Agency</span>
                {{else}}
                <span class="_heading">भारतीय अक्षय ऊर्जा विकास ऐजेंसी लिमिटेड (इरेडा)</span>
                {{/ifCond}}
                {{#ifCond language 'EN'}}
                <div class="vtex">
                    VISIT NOW <i class="fas fa-arrow-circle-right"></i>
                </div>
                {{else}}

                <div class="vtex">
                    आगे देखें <i class="fas fa-arrow-circle-right"></i>
                </div>
                {{/ifCond}}
            </div>
        </div>
        <div class="item">
            <div class="item_inner seci seci__bg" id="SECI">
                {{#ifCond language 'EN'}}
                <span class="_heading">Solar Energy Corporation of India</span>
                {{else}}
                <span class="_heading">भारतीय सौर ऊर्जा निगम (सेकी)</span>
                {{/ifCond}}
                {{#ifCond language 'EN'}}
                <div class="vtex">
                    VISIT NOW <i class="fas fa-arrow-circle-right"></i>
                </div>
                {{else}}

                <div class="vtex">
                    आगे देखें <i class="fas fa-arrow-circle-right"></i>
                </div>
                {{/ifCond}}
            </div>
        </div>
        <div class="item">
            <div class="item_inner tireda hydro-bg" id="AREAS">
                {{#ifCond language 'EN'}}
                <span class="_heading">Association of Renewable Energy Agencies of States (AREAS)</span>
                {{else}}
                <span class="_heading">राज्यों की अक्षय ऊर्जा एजेंसियों का संगठन (ऐरियास)</span>
                {{/ifCond}}
                <div class="vtex">
                    {{#ifCond language 'EN'}}
                    <a class="ntd" href="{{site_url}}/areas">READ MORE</a>
                    {{else}}
                    <a class="ntd" href="{{site_url}}/areas">और देखें</a>
                    {{/ifCond}}
                    <i class="fas fa-arrow-circle-right"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row mobile py-5 justify__center">
        <div class="col-sm-6 margin-t__10">
            <div class="text-center">
                <div>
                    <h1 class="initi">INSTITUTES & Agencies</h1>
                </div>

            </div>
        </div>
        <div class="col-sm-12">
            <div class="row px-3 py-5">
                <div class="col-sm-12 initib mx-2 nise nise__bg" id="NISE1">
                    <span class="initc carousel__title">National Institute of Solar Energy</span><br><br>
                    <div class="vtex">
                        VISIT NOW <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </div>
                <div class="col-sm-12 initib mx-2 niwe niwe__bg" id="NIWE1">
                    <span class="initc carousel__title">National Institute of Wind Energy</span><br><br>
                    <div class="vtex">
                        VISIT NOW <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </div>
                <div class="col-sm-12 initib mx-2 nire nire__bg" id="NIRE1">
                    <span class="initc carousel__title">
                        SSS National Institute of Renewable Energy
                    </span>
                    <br><br>
                    <div class="vtex">VISIT NOW <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </div>
                <div class="col-sm-12 initib mx-2 tireda tireda__bg" id="TIREDA1"><span
                        class="initc carousel__title">The Indian
                        Renewable Energy
                        Development
                        Agency</span><br><br>
                    <div class="vtex">VISIT NOW <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </div>
                <div class="col-sm-12 initib mx-2 seci seci__bg" id="SECI1"><span class="initc carousel__title">Solar
                        Energy
                        Corporation of
                        India</span><br><br>
                    <div class="vtex">VISIT NOW <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="disp">
    <div class="container bx _home_resources">
        <div class="row px-5 py-5 justify__center">
            <div class="col-sm-6 margin-t__10">
                <div class="text-center">
                    {{#ifCond language 'EN'}}
                    <div>
                        <h1 class="initir">RESOURCES</h1>
                    </div>
                    {{else}}
                    <div>
                        <h1 class="initir">संसाधन</h1>
                    </div>
                    {{/ifCond}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="_home_resources_inner">
                <div class="shadow col-sm bxx mx-3 _resources_wrap">
                    <a class="tools_services" href="{{site_url}}/public-grievance">
                        <div class="text-center">
                            <img src="{{site_url}}/img/public.png" style="width: 35px;">
                            {{#ifCond language 'EN'}}
                            <h5 class="bxh">Public Grievances & Complaint Redressal Mechanism</h5>
                            {{else}}
                            <h5 class="bxh">लोक शिकायत एवं शिकायत निवारण तंत्र</h5>
                            {{/ifCond}}
                        </div>
                    </a>
                </div>

                <div class="shadow col-sm bxx mx-3 _resources_wrap">
                    <a target="_blank" class="tools_services external_link"
                        href="https://solarrooftop.gov.in/rooftop_calculator">
                        <div class="text-center">
                            <img src="{{site_url}}/img/calculator.png">
                            {{#ifCond language 'EN'}}
                            <h5 class="bxh">Solar Rooftop<br>
                                Financial Calculator</h5>
                            {{else}}
                            <h5 class="bxh">सौर रुफटॉप वित्तीय कैलकुलेटर</h5>
                            {{/ifCond}}
                        </div>
                    </a>
                </div>

                <div class="shadow col-sm bxx mx-3 _resources_wrap">

                    <div class="text-center">
                        <img src="{{site_url}}/img/feedback.png">
                        <a class="fdback tools_services" href="{{site_url}}/feedback">
                            {{#ifCond language 'EN'}}
                            <h5 class="bxh">Feedback</h5>
                            {{else}}
                            <h5 class="bxh">फीडबैक</h5>
                            {{/ifCond}}
                        </a>
                    </div>
                </div>

                {{!-- <div class="shadow col-sm bxx mx-3 _resources_wrap">
                    <a class="tools_services external_link" target="_blank"
                        href="https://solarrooftop.gov.in/agency_list_report/view">
                        <div class="text-center">
                            <img src="{{site_url}}/img/solar.png">
                            {{#ifCond language 'EN'}}
                            <h5 class="bxh">List Of Solar<br>
                                Rooftop Agencies</h5>
                            {{else}}
                            <h5 class="bxh">सौर रुफटॉप एजेंसियों
                                की सूची
                            </h5>
                            {{/ifCond}}
                        </div>
                    </a>
                </div> --}}

                <div class="shadow col-sm bxx mx-3 _resources_wrap">
                    <a class="tools_services" href="{{site_url}}/hindirajbhasha">
                        <div class="text-center">
                            <img src="{{site_url}}/img/rajbhasha.png">
                            {{#ifCond language 'EN'}}
                            <h5 class="bxh">Hindi Rajbhasha</h5>
                            {{else}}
                            <h5 class="bxh">राजभाषा हिंदी</h5>
                            {{/ifCond}}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- <div class="iframe">
    {{#if iframe}}
    {{#each iframe}}
    {{{this.path}}}
    {{/each}}
    {{/if}}
</div> --}}


<!-- Institutes Modals -->
<div id="NIWEModal" class="modal1">
    <!-- Modal content -->
    <div class="modal-content1 wind__border wind_modal_content overlay_black">
        <span class="close1" id="close_niwe"><i class="far fa-times-circle"></i></span>

        {{#ifCond language 'EN'}}
        <h1 class="institutes__title--style wind__background--color">
            NATIONAL INSTITUTE OF WIND ENERGY
        </h1>
        {{else}}
        <h1 class="institutes__title--style wind__background--color">
            राष्ट्रीय सौर ऊर्जा संस्थान
        </h1>
        {{/ifCond}}
        <div class="_modal_inner">
            {{#ifCond language 'EN'}}
            <p class="institutes__description--style">
                National Institute of Wind Energy (NIWE) established in Chennai in 1998 by the Ministry of
                New and Renewable Energy (MNRE), Government of India is an autonomous research and
                development institution. It is a knowledge-based institution of high quality and dedication,
                offers services and seeks to find complete solutions for the kinds of difficulties and
                improvements in the entire spectrum of the wind energy sector by carrying out further
                research.
            </p>
            {{else}}
            <p class="institutes__description--style">
                नवीन और नवीकरणीय ऊर्जा मंत्रालय (एमएनआरई) का एक स्वायत्त संस्थान, राष्ट्रीय सौर ऊर्जा संस्थान, सौर ऊर्जा
                के क्षेत्र मेंअनुसंधान औक्र विकास के लिए शीर्ष संस्थान है । भारत सरकार ने 25 वर्ष पुराने सौर उफर्जा
                केन्द्र ((एसईसी) को सितम्बर 2013 में एक स्वायत्त संस्थान के रुप में परिवर्तित किया ताकि राष्ट्रीय सौर
                मिशन के कार्यान्वयन और अनुसंधान, प्रौद्योगिकी तथा अन्य संगत कार्यों में समन्वयन में एमएनआरई की सहायता हो
                सके ।
            </p>
            {{/ifCond}}

            {{#ifCond language 'EN'}}
            <a href="http://niwe.res.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">Visit Now</a>
            {{else}}
            <a href="http://niwe.res.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">आगे देखें</a>
            {{/ifCond}}
        </div>
    </div>

</div>
<div id="NISEModal" class="modal1">

    <!-- Modal content -->
    <div class="modal-content1 solar__border">
        <span class="close1" id="close_nise"><i class="far fa-times-circle"></i></span>
        {{#ifCond language 'EN'}}
        <h1 class="institutes__title--style solar__background--color">
            NATIONAL INSTITUTE OF SOLAR ENERGY
        </h1>
        {{else}}
        <h1 class="institutes__title--style solar__background--color">
            राष्ट्रीय सौर ऊर्जा संस्थान
        </h1>
        {{/ifCond}}
        <div class="_modal_inner">
            {{#ifCond language 'EN'}}
            <p class="institutes__description--style">
                National Institute of Solar Energy, an autonomous institution of Ministry of New and
                Renewable (MNRE), is the apex institute for research and development in the field Solar
                Energy. The Government of India converted 25-year-old Solar Energy Centre (SEC) to an
                autonomous institution in September 2013 to assist the MNRE in implementing the National
                Solar Mission and coordinate in research, technology, and other related works.
            </p>
            {{else}}
            <p class="institutes__description--style">
                नवीन और नवीकरणीय ऊर्जा मंत्रालय (एमएनआरई) का एक स्वायत्त संस्थान, राष्ट्रीय सौर ऊर्जा संस्थान, सौर ऊर्जा
                के क्षेत्र मेंअनुसंधान औक्र विकास के लिए शीर्ष संस्थान है । भारत सरकार ने 25 वर्ष पुराने सौर उफर्जा
                केन्द्र ((एसईसी) को सितम्बर 2013 में एक स्वायत्त संस्थान के रुप में परिवर्तित किया ताकि राष्ट्रीय सौर
                मिशन के कार्यान्वयन और अनुसंधान, प्रौद्योगिकी तथा अन्य संगत कार्यों में समन्वयन में एमएनआरई की सहायता हो
                सके ।
            </p>
            {{/ifCond}}

            {{#ifCond language 'EN'}}
            <a href="https://nise.res.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">Visit Now</a>
            {{else}}
            <a href="https://nise.res.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">आगे देखें </a>
            {{/ifCond}}
        </div>
    </div>

</div>
<div id="NIREModal" class="modal1">

    <!-- Modal content -->
    <div class="modal-content1 re__border">
        <span class="close1" id="close_nire"><i class="far fa-times-circle"></i></span>

        {{#ifCond language 'EN'}}
        <h1 class="institutes__title--style re__background--color">
            SARDAR SWARAN SINGH <br> NATIONAL INSTITUTE OF RENEWABLE ENERGY
        </h1>
        {{else}}
        <h1 class="institutes__title--style re__background--color">
            सरदार स्वर्ण सिंह राष्ट्रीय अक्षय ऊर्जा संस्थान
        </h1>
        {{/ifCond}}
        <div class="_modal_inner">
            {{#ifCond language 'EN'}}
            <p class="institutes__description--style">
                Sardar Swaran Singh National Institute of Renewable Energy (SSS-NIRE), Kapurthala
                (Punjab) is an autonomous Institution of the Ministry of New and Renewable Energy. Govt.
                of India. The aim of the Institute is to carry out and facilitate research, design, development,
                testing, standardization &amp; technology demonstration. It will eventually lead to
                commercialization of R&amp;D output with a focus on bioenergy, biofuels &amp; synthetic fuels in
                solid, liquid &amp; gaseous forms for transportation, portable &amp; stationary applications,
                development of hybrid / integrated energy systems.
            </p>
            {{else}}
            <p class="institutes__description--style">
                सरदार स्वर्ण सिंह राष्ट्रीय अक्षय ऊर्जा संस्थान (एसएसएस-नीरे), कपूरथला (पंजाब) नवीन और नवीकरणीय ऊर्जा
                मंत्रालय, भारत सरकार का एक स्वायतत संस्थान है । इस संस्थान का उद्देश्य अनुसंधान, डिजाइन, विकास, परीक्षण,
                मानकीकरण और प्रौद्योगिकी प्रदर्शन करना और इसकी व्यवस्था करना है। यह अंततः परिवहन, पोर्टेबल और स्थिर
                अनुप्रयोगों, हाइब्रिड/एकीकृत ऊर्जा प्रणालियों के विकास के लिए ठोस, तरल और गैसीय रूपों में बायोऊर्सा,
                जैवईंधन और सिंथेटिक ईंधन पर ध्यान केंद्रित करने के साथ-साथ आरएंडडी आउटपुट के व्यावसायीकरण को भी बढ़ावा
                देगा
            </p>
            {{/ifCond}}
            {{#ifCond language 'EN'}}
            <a href="http://www.nibe.res.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">Visit Now</a>
            {{else}}
            <a href="http://www.nibe.res.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">आगे देखें</a>
            {{/ifCond}}
        </div>
    </div>

</div>
<div id="TIREDAModal" class="modal1">

    <!-- Modal content -->
    <div class="modal-content1 tireda__border">
        <span class="close1" id="close_tireda"><i class="far fa-times-circle"></i></span>
        {{#ifCond language 'EN'}}
        <h1 class="institutes__title--style tireda__background--color">
            INDIAN RENEWABLE ENERGY <br> DEVELOPMENT AGENCY LIMITED (IREDA)
        </h1>
        {{else}}
        <h1 class="institutes__title--style tireda__background--color">
            भारतीय अक्षय ऊर्जा विकास ऐजेंसी लिमिटेड (इरेडा)
        </h1>
        {{/ifCond}}
        <div class="_modal_inner">
            {{#ifCond language 'EN'}}
            <p class="institutes__description--style">
                Indian Renewable Energy Development Agency Limited (IREDA) is a Mini Ratna (Category–I) non-banking
                financial institution under the administrative control of Ministry of New and Renewable Energy (MNRE).
                IREDA
                is primarily engaged in promoting, developing and extending financial assistance for setting up projects
                relating to new and renewable sources of energy and energy efficiency/conservation with the motto
                'ENERGY
                FOR EVER'. IREDA is the single largest “Green Financier” in the country. It caters to all technologies
                of
                the RE sector and predominantly provides financing for sector.

            </p>
            {{else}}
            <p class="institutes__description--style">
                भारतीय अक्षय ऊर्जा विकास ऐजेंसी लिमिटेड (इरेडा) एक मिनि रत्न (श्रेणी-1) गैर बैंकिंग वित्तीय संस्थान है,
                जो नवीन और नवीकरणीय ऊर्जा मंत्रालय के प्रशासनिक नियंत्रण में है। इरेडा मुख्य रूप से ऊर्जा दक्षता/संरक्षण
                के नवीन और नवीकरणीय स्रोतों से संबंधित परियोजनाओं की स्थापना के लिए वित्तीय सहायता देने, विकसित करने और
                विस्तार करने में कार्यरत है, जिसका उद्देश्य 'उर्जा हमेंशा के लिए' है। इरेडा देश में एकमात्र सबसे बड़ा
                "ग्रीन फाइनेंसर" है। यह आरई क्षेत्र की सभी प्रौद्योगिकियों की जरूरतों को पूरा करता है और इस क्षेत्र के
                लिए मुख्यतः ऋण उपलब्ध करता है।

            </p>
            {{/ifCond}}

            {{#ifCond language 'EN'}}
            <a href="https://www.ireda.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">Visit Now</a>

            {{else}}
            <a href="https://www.ireda.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">आगे देखें</a>
            {{/ifCond}}
        </div>
    </div>

</div>
<div id="SECIModal" class="modal1">

    <!-- Modal content -->
    <div class="modal-content1 seci__border">
        <span class="close1" id="close_seci"><i class="far fa-times-circle"></i></span>
        <h1 class="institutes__title--style seci__background--color">
            SOLAR ENERGY CORPORATION OF INDIA (SECI)

        </h1>
        <div class="_modal_inner">
            <p class="institutes__description--style">
                Indian Renewable Energy Development Agency Limited (IREDA) is a Mini Ratna (Category–I) non-banking
                financial institution under the administrative control of Ministry of New and Renewable Energy (MNRE).
                IREDA
                is primarily engaged in promoting, developing and extending financial assistance for setting up projects
                relating to new and renewable sources of energy and energy efficiency/conservation with the motto
                'ENERGY
                FOR EVER'. IREDA is the single largest “Green Financier” in the country. It caters to all technologies
                of
                the RE sector and predominantly provides financing for sector.

            </p>
            <a href="http://seci.co.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">Visit Now</a>
        </div>
    </div>

</div>


<!-- Mobile popups -->
<div id="NISEModal1" class="modal1">

    <!-- Modal content -->
    <div class="modal-content1 solar__border1">
        <span class="close1" id="close_nise1"><i class="far fa-times-circle"></i></span>
        {{#ifCond language 'EN'}}
        <h1 class="institutes__title--style solar__background--color">
            NATIONAL INSTITUTE OF SOLAR ENERGY
        </h1>
        {{else}}
        <h1 class="institutes__title--style solar__background--color">
            राष्ट्रीय सौर ऊर्जा संस्थान
        </h1>
        {{/ifCond}}
        <div class="_modal_inner">
            {{#ifCond language 'EN'}}
            <p class="institutes__description--style">
                National Institute of Solar Energy, an autonomous institution of Ministry of New and
                Renewable (MNRE), is the apex institute for research and development in the field Solar
                Energy. The Government of India converted 25-year-old Solar Energy Centre (SEC) to an
                autonomous institution in September 2013 to assist the MNRE in implementing the National
                Solar Mission and coordinate in research, technology, and other related works.
            </p>
            {{else}}
            <p class="institutes__description--style">
                नवीन और नवीकरणीय ऊर्जा मंत्रालय (एमएनआरई) का एक स्वायत्त संस्थान, राष्ट्रीय सौर ऊर्जा संस्थान, सौर ऊर्जा
                के क्षेत्र मेंअनुसंधान औक्र विकास के लिए शीर्ष संस्थान है । भारत सरकार ने 25 वर्ष पुराने सौर उफर्जा
                केन्द्र ((एसईसी) को सितम्बर 2013 में एक स्वायत्त संस्थान के रुप में परिवर्तित किया ताकि राष्ट्रीय सौर
                मिशन के कार्यान्वयन और अनुसंधान, प्रौद्योगिकी तथा अन्य संगत कार्यों में समन्वयन में एमएनआरई की सहायता हो
                सके ।
            </p>
            {{/ifCond}}
            {{#ifCond language 'EN'}}
            <a href="https://nise.res.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">Visit Now</a>
            {{else}}
            <a href="https://nise.res.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">आगे देखें</a>
            {{/ifCond}}
        </div>
    </div>

</div>
<div id="NIREModal1" class="modal1">

    <!-- Modal content -->
    <div class="modal-content1 re__border1">
        <span class="close1" id="close_nire1"><i class="far fa-times-circle"></i></span>
        {{#ifCond language 'EN'}}
        <h1 class="institutes__title--style re__background--color">
            SARDAR SWARAN SINGH <br> NATIONAL INSTITUTE OF RENEWABLE ENERGY
        </h1>
        {{else}}
        <h1 class="institutes__title--style re__background--color">
            SARDAR SWARAN SINGH <br> NATIONAL INSTITUTE OF RENEWABLE ENERGY
        </h1>
        {{/ifCond}}
        <div class="_modal_inner">
            <p class="institutes__description--style">
                Sardar Swaran Singh National Institute of Renewable Energy (SSS-NIRE), Kapurthala
                (Punjab) is an autonomous Institution of the Ministry of New and Renewable Energy. Govt.
                of India. The aim of the Institute is to carry out and facilitate research, design, development,
                testing, standardization &amp; technology demonstration. It will eventually lead to
                commercialization of R&amp;D output with a focus on bioenergy, biofuels &amp; synthetic fuels in
                solid, liquid &amp; gaseous forms for transportation, portable &amp; stationary applications,
                development of hybrid / integrated energy systems.
            </p>
            <a href="http://www.nibe.res.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">Visit Now</a>
        </div>
    </div>

</div>
<div id="TIREDAModal1" class="modal1">

    <!-- Modal content -->
    <div class="modal-content1 tireda__border">
        <span class="close1" id="close_tireda1"><i class="far fa-times-circle"></i></span>
        <h1 class="institutes__title--style tireda__background--color">
            INDIAN RENEWABLE ENERGY <br> DEVELOPMENT AGENCY LIMITED (IREDA)

        </h1>
        <div class="_modal_inner">
            <p class="institutes__description--style">
                Indian Renewable Energy Development Agency Limited (IREDA) is a Mini Ratna (Category–I) non-banking
                financial institution under the administrative control of Ministry of New and Renewable Energy (MNRE).
                IREDA
                is primarily engaged in promoting, developing and extending financial assistance for setting up projects
                relating to new and renewable sources of energy and energy efficiency/conservation with the motto
                'ENERGY
                FOR EVER'. IREDA is the single largest “Green Financier” in the country. It caters to all technologies
                of
                the RE sector and predominantly provides financing for sector.

            </p>
            <a href="https://www.ireda.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">Visit Now</a>
        </div>
    </div>

</div>

<div class="sticky-social">
  <ul class="social">
    <li class="fb"><a href="https://www.facebook.com/MNREMinistry" target="_blank"><img src="/img/Facebook.png" style="width: 27px;"></a></li>
        <li class="twitter"><a href="https://twitter.com/mnreindia" target="_blank"><img src="/img/Ttwitter.png" style="width: 27px;"></a></li>
      <li class="insta"><a href="https://www.instagram.com/mnreindia/" target="_blank"><img src="/img/Instagram.png" style="width: 27px;"></a></li>
      <li class="pin"><a href="https://www.youtube.com/channel/UClk55sdIRCrxHtJe17bicCg" target="_blank"><img src="/img/Youtube.png" style="width: 27px;"></a></li>     
    <li class="linked"><a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQEWbGwJVHbgRwAAAX4js4KQMDXjOkWP_hTSYbLmKhRfO5ORdcTaxDUDZRgq1piLSfOta-1Os0Tfz9hNe8A9TTwPBLjsauMVXhdFFbLPG1xLxtxvR_aagHn3lcBuvlsTd__YXCM=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fmnre-india-626144227%2F" target="_blank"><img src="/img/llinked.png" style="width: 27px;"></a></li>
    </ul>
  </div>


<div id="SECIModal1" class="modal1">

    <!-- Modal content -->
    <div class="modal-content1 seci__border">
        <span class="close1" id="close_seci1"><i class="far fa-times-circle"></i></span>
        {{#ifCond language 'EN'}}
        <h1 class="institutes__title--style seci__background--color">
            SOLAR ENERGY CORPORATION OF INDIA (SECI)
        </h1>
        {{else}}
        <h1 class="institutes__title--style seci__background--color">
            भारतीय सौर ऊर्जा निगम (सेकी)
        </h1>
        {{/ifCond}}
        <div class="_modal_inner">
            {{#ifCond language 'EN'}}
            <p class="institutes__description--style">
                Indian Renewable Energy Development Agency Limited (IREDA) is a Mini Ratna (Category–I) non-banking
                financial institution under the administrative control of Ministry of New and Renewable Energy (MNRE).
                IREDA
                is primarily engaged in promoting, developing and extending financial assistance for setting up projects
                relating to new and renewable sources of energy and energy efficiency/conservation with the motto
                'ENERGY
                FOR EVER'. IREDA is the single largest “Green Financier” in the country. It caters to all technologies
                of
                the RE sector and predominantly provides financing for sector.
            </p>
            {{else}}
            <p class="institutes__description--style">
                भारतीय अक्षय ऊर्जा विकास ऐजेंसी लिमिटेड (इरेडा) एक मिनि रत्न (श्रेणी-1) गैर बैंकिंग वित्तीय संस्थान है,
                जो नवीन और नवीकरणीय ऊर्जा मंत्रालय के प्रशासनिक नियंत्रण में है। इरेडा मुख्य रूप से ऊर्जा दक्षता/संरक्षण
                के नवीन और नवीकरणीय स्रोतों से संबंधित परियोजनाओं की स्थापना के लिए वित्तीय सहायता देने, विकसित करने और
                विस्तार करने में कार्यरत है, जिसका उद्देश्य 'उर्जा हमेंशा के लिए' है। इरेडा देश में एकमात्र सबसे बड़ा
                "ग्रीन फाइनेंसर" है। यह आरई क्षेत्र की सभी प्रौद्योगिकियों की जरूरतों को पूरा करता है और इस क्षेत्र के
                लिए मुख्यतः ऋण उपलब्ध करता है।
            </p>
            {{/ifCond}}

            {{#ifCond language 'EN'}}
            <a href="http://seci.co.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">Visit Now</a>
            {{else}}
            <a href="http://seci.co.in/" target="_blank"
                class="btn btn-dark institutes__button--style external_link">आगे देखें </a>
            {{/ifCond}}
        </div>
    </div>

</div>




<script src="{{site_url}}/js/home_page.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
{{!--
<script src="{{site_url}}/js/jquery-3.3.1.min.js"></script> --}}
{{!--
<script src="https://mib.gov.in/sites/all/themes/mib/js/mib-banner.js"></script> --}}
<script>
//banner slider
	$(".bannerSlider").slick({
	    dots: false
	    , autoplay: auto        
	    , infinite: true
	    , dots: false
	    , slidesToShow: 1
         //prevArrow: '<button type="button" data-role="none" class="slick-prev" aria-label="Previous" tabindex="0" role="button"><img src="https://mnre.gov.in/img/prev-arrow-slider.png" style="width:25px;" /></button>',
        //nextArrow: '<button type="button" data-role="none" class="slick-next" aria-label="Next" tabindex="0" role="button"><img src="https://mnre.gov.in/img/arrow-slider.png" style="width:25px;" /></button>'
	    , slideswToScroll: 1
	    , arrows: true
	});

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel-item:first-child').addClass('active');

        $('._issue_date').each(function () {
            var date = this.innerHTML;
            var newDate = date.split(' ').splice(1, 3).join('-')
            this.innerHTML = newDate;
        })

        setTimeout(() => {
            addElement();
        }, 1000)});


  

</script>