<style>
  ._policy_accordion{
        width: 60%;
    margin: 20px auto 60px;
    padding: 0 15px;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  ._policy_accordion ._accordion_external{
    width:100%;
    float: left;
  }
</style>



<div class="_page_head rajbhashsa_title">
  <p class="_heading">Hindi Rajbhasha</p>
</div>

<main class="_page_wrapper">
  <div class="rajbhasha_wrap">
    {{!-- <ul>
      <li>
        E-Saral Sentences
        <div>
          <a target="_blank" href="{{../document_path}}/img/documents/uploads/file_s-1593518749371.pdf" class="ml-1">
            <img class="pdf" src="{{../site_url}}/img/view-pdf.png" alt="view">
          </a>
          <a data-href="{{../document_path}}/img/documents/uploads/file_s-1593518749371.pdf" class="ml-1 download_file">
            <img class="pdf" src="{{../site_url}}/img/download-pdf.png" alt="view">
          </a>
        </div>
      </li>
    </ul> --}}
    <div class="_policy_accordion">
      <div class="accordion _accordion_external" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_0"
                aria-expanded="true" aria-controls="collapseOne">
                <p class="_issue_date">Publish Date: 08 July, 2020</p>
                E-Saral Sentences
              </button>
            </h2>
          </div>
          <div id="collapse_0" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p>E-saral Hindi sentences</p>
              <div class="_pdf_links">
                <a target="_blank" href="{{../document_path}}/img/documents/uploads/file_s-1593518749371.pdf"
                  class="ml-1">
                  <img class="pdf" src="{{../site_url}}/img/view-pdf.png" alt="view">
                </a>
                <a data-href="{{../document_path}}/img/documents/uploads/file_s-1593518749371.pdf"
                  class="ml-1 download_file">
                  <img class="pdf" src="{{../site_url}}/img/download-pdf.png" alt="view">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="accordion _accordion_external" id="accordionExample1">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_1"
                aria-expanded="true" aria-controls="collapseOne">
                <p class="_issue_date">Publish Date: 14 sep, 2020</p>
               हिंदी दिवस 2020 के अवसर पर माननीय गृह मंत्री जी का संदेश। 
              </button>
            </h2>
          </div>
          <div id="collapse_1" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample1">
            <div class="card-body">
              <p>हिंदी दिवस 2020 के अवसर पर माननीय गृह मंत्री जी का संदेश। </p>
              <div class="_pdf_links">
                <a target="_blank" href="{{../document_path}}/img/documents/uploads/file_s-1600265978347.pdf"
                  class="ml-1">
                  <img class="pdf" src="{{../site_url}}/img/view-pdf.png" alt="view">
                </a>
                <a data-href="{{../document_path}}/img/documents/uploads/file_s-1600265978347.pdf"
                  class="ml-1 download_file">
                  <img class="pdf" src="{{../site_url}}/img/download-pdf.png" alt="view">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="accordion _accordion_external" id="accordionExample2">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_2"
                aria-expanded="true" aria-controls="collapseOne">
                <p class="_issue_date">Publish Date: 14 sep, 2020</p>
              हिंदी दिवस 2020 के अवसर पर माननीय  नवीन और नवीकरणीय ऊर्जा मंत्री  का संदेश।  
              </button>
            </h2>
          </div>
          <div id="collapse_2" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample2">
            <div class="card-body">
              <p>हिंदी दिवस 2020 के अवसर पर माननीय  नवीन और नवीकरणीय ऊर्जा मंत्री  का संदेश। </p>
              <div class="_pdf_links">
                <a target="_blank" href="{{../document_path}}/img/documents/uploads/file_s-1600266202486.pdf"
                  class="ml-1">
                  <img class="pdf" src="{{../site_url}}/img/view-pdf.png" alt="view">
                </a>
                <a data-href="{{../document_path}}/img/documents/uploads/file_s-1600266202486.pdf"
                  class="ml-1 download_file">
                  <img class="pdf" src="{{../site_url}}/img/download-pdf.png" alt="view">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="accordion _accordion_external" id="accordionExample3">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_3"
                aria-expanded="true" aria-controls="collapseOne">
                <p class="_issue_date">Publish Date: 19 Oct, 2020</p>
              नवीन और नवीकरणीय ऊर्ाा के क्षेत्र में कलेन्डर वषा 2018 और वषा 2019 के दौरान हिन्दी में मौललक
            पुस्तक लेखन एवं अनूहदत पुस्तकों को प्रोत्सािन देने के ललए ‘अक्षय ऊर्ाा पुरस्कार योर्ना’-</button>
            </h2>
          </div>
          <div id="collapse_3" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample3">
            <div class="card-body">
              <p> नवीन और नवीकरणीय ऊर्ाा के क्षेत्र में कलेन्डर वषा 2018 और वषा 2019 के दौरान हिन्दी में मौललक
            पुस्तक लेखन एवं अनूहदत पुस्तकों को प्रोत्सािन देने के ललए ‘अक्षय ऊर्ाा पुरस्कार योर्ना’-</p>
              <div class="_pdf_links">
                <a target="_blank" href="{{../document_path}}/img/documents/uploads/file_s-1603102789809.pdf"
                  class="ml-1">
                  <img class="pdf" src="{{../site_url}}/img/view-pdf.png" alt="view">
                </a>
                <a data-href="{{../document_path}}/img/documents/uploads/file_s-1603102789809.pdf"
                  class="ml-1 download_file">
                  <img class="pdf" src="{{../site_url}}/img/download-pdf.png" alt="view">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>




        <div class="accordion _accordion_external" id="accordionExample4">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_4"
                aria-expanded="true" aria-controls="collapseOne">
                <p class="_issue_date">Publish Date: 06 Jan, 2021</p>
            वित्तीय वर्ष 2021-22 से केंद्र सरकार के कार्मिकों को सरकारी काम-काज राजभाषा हिंदी में करने में दक्ष बनाने हेतु अभ्यास आधारित नए पाठयक्रम "पारंगत" के अधीन प्रस्तावित पुरस्कार लागू करने के संबंध में। </button>
            </h2>
          </div>
          <div id="collapse_4" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample4">
            <div class="card-body">
              <p> वित्तीय वर्ष 2021-22 से केंद्र सरकार के कार्मिकों को सरकारी काम-काज राजभाषा हिंदी में करने में दक्ष बनाने हेतु अभ्यास आधारित नए पाठयक्रम "पारंगत" के अधीन प्रस्तावित पुरस्कार लागू करने के संबंध में। </p>
              <div class="_pdf_links">
                <a target="_blank" href="{{../document_path}}/img/documents/uploads/file_f-1609925776677.pdf"
                  class="ml-1">
                  <img class="pdf" src="{{../site_url}}/img/view-pdf.png" alt="view">
                </a>
                <a data-href="{{../document_path}}/img/documents/uploads/file_f-1609925776677.pdf"
                  class="ml-1 download_file">
                  <img class="pdf" src="{{../site_url}}/img/download-pdf.png" alt="view">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
		  
      
      <div class="accordion _accordion_external" id="accordionExample5">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_5"
                aria-expanded="true" aria-controls="collapseOne">
                <p class="_issue_date">Publish Date: 10 sep, 2021</p>
		नवीन और नवीकरणीय ऊर्जा मंत्रालय की हिंदी सलाहकार समिति का गठन। 
              </button>
            </h2>
          </div>
          <div id="collapse_5" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample5">
            <div class="card-body">
              <p>नवीन और नवीकरणीय ऊर्जा मंत्रालय की हिंदी सलाहकार समिति का गठन। </p>
              <div class="_pdf_links">
                <a target="_blank" href="{{../document_path}}/img/documents/uploads/file_f-1631266499111.pdf"
                  class="ml-1">
                  <img class="pdf" src="{{../site_url}}/img/view-pdf.png" alt="view">
                </a>
                <a data-href="{{../document_path}}/img/documents/uploads/file_f-1631266499111.pdf"
                  class="ml-1 download_file">
                  <img class="pdf" src="{{../site_url}}/img/download-pdf.png" alt="view">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion _accordion_external" id="accordionExample6">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_6"
                aria-expanded="true" aria-controls="collapseOne">
                <p class="_issue_date">Publish Date: 13 sep, 2021</p>
		            हिंदी दिवस 2021 के अवसर पर माननीय नवीन और नवीकरणीय ऊर्जा राज्य मंत्री जी का संदेश
              </button>
            </h2>
          </div>
          <div id="collapse_6" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample6">
            <div class="card-body">
              <p>हिंदी दिवस 2021 के अवसर पर माननीय नवीन और नवीकरणीय ऊर्जा राज्य मंत्री जी का संदेश</p>
              <div class="_pdf_links">
                <a target="_blank" href="{{../document_path}}/img/documents/uploads/file_f-1631534329844.pdf"
                  class="ml-1">
                  <img class="pdf" src="{{../site_url}}/img/view-pdf.png" alt="view">
                </a>
                <a data-href="{{../document_path}}/img/documents/uploads/file_f-1631534329844.pdf"
                  class="ml-1 download_file">
                  <img class="pdf" src="{{../site_url}}/img/download-pdf.png" alt="view">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="accordion _accordion_external" id="accordionExample7">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_7"
                aria-expanded="true" aria-controls="collapseOne">
                <p class="_issue_date">Publish Date: 13 sep, 2021</p>
		            हिंदी दिवस 2021 के अवसर पर माननीय नवीन और नवीकरणीय ऊर्जा मंत्री जी का संदेश
              </button>
            </h2>
          </div>
          <div id="collapse_7" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample7">
            <div class="card-body">
              <p>हिंदी दिवस 2021 के अवसर पर माननीय नवीन और नवीकरणीय ऊर्जा मंत्री जी का संदेश</p>
              <div class="_pdf_links">
                <a target="_blank" href="{{../document_path}}/img/documents/uploads/file_f-1631534396362.pdf"
                  class="ml-1">
                  <img class="pdf" src="{{../site_url}}/img/view-pdf.png" alt="view">
                </a>
                <a data-href="{{../document_path}}/img/documents/uploads/file_f-1631534396362.pdf"
                  class="ml-1 download_file">
                  <img class="pdf" src="{{../site_url}}/img/download-pdf.png" alt="view">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


        <div class="accordion _accordion_external" id="accordionExample8">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_8"
                aria-expanded="true" aria-controls="collapseOne">
                <p class="_issue_date">Publish Date: 13 sep, 2021</p>
		            हिंदी दिवस 2021 के अवसर पर माननीय गृह मंत्री जी का संदेश
              </button>
            </h2>
          </div>
          <div id="collapse_8" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample8">
            <div class="card-body">
              <p>हिंदी दिवस 2021 के अवसर पर माननीय गृह मंत्री जी का संदेश</p>
              <div class="_pdf_links">
                <a target="_blank" href="{{../document_path}}/img/documents/uploads/file_f-1631534502987.pdf"
                  class="ml-1">
                  <img class="pdf" src="{{../site_url}}/img/view-pdf.png" alt="view">
                </a>
                <a data-href="{{../document_path}}/img/documents/uploads/file_f-1631534502987.pdf"
                  class="ml-1 download_file">
                  <img class="pdf" src="{{../site_url}}/img/download-pdf.png" alt="view">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="accordion _accordion_external" id="accordionExample9">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_9"
                aria-expanded="true" aria-controls="collapseOne">
                <p class="_issue_date">Publish Date: 31 may, 2022</p>
		            एमएनआरई में दिनांक 13-04-2022 को आयोजित हिन्दी सलाहकार समिति की बैठक का कार्यवृत्त 
              </button>
            </h2>
          </div>
          <div id="collapse_9" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample9">
            <div class="card-body">
              <p>एमएनआरई में दिनांक 13-04-2022 को आयोजित हिन्दी सलाहकार समिति की बैठक का कार्यवृत्त </p>
              <div class="_pdf_links">
                <a target="_blank" href="{{../document_path}}/img/documents/uploads/file_s-1653990226262.pdf"
                  class="ml-1">
                  <img class="pdf" src="{{../site_url}}/img/view-pdf.png" alt="view">
                </a>
                <a data-href="{{../document_path}}/img/documents/uploads/file_s-1653990226262.pdf"
                  class="ml-1 download_file">
                  <img class="pdf" src="{{../site_url}}/img/download-pdf.png" alt="view">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

 <div class="accordion _accordion_external" id="accordionExample10">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_10"
                aria-expanded="true" aria-controls="collapseOne">
                <p class="_issue_date">Publish Date: 02 June, 2022</p>
		            लोक संपर्क और संचार ब्यूरो (ब्यूरो ऑफ आउटरिच एंड कम्यूनिकेशन) में विज्ञापन के लिए भेजे जाने वाले निविदा पत्र (टेंडर) अनिवार्य रूप से द्विभाषी रूप में भेजें जाने के संबंध में।
              </button>
            </h2>
          </div>
          <div id="collapse_10" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample10">
            <div class="card-body">
              <p>लोक संपर्क और संचार ब्यूरो (ब्यूरो ऑफ आउटरिच एंड कम्यूनिकेशन) में विज्ञापन के लिए भेजे जाने वाले निविदा पत्र (टेंडर) अनिवार्य रूप से द्विभाषी रूप में भेजें जाने के संबंध में। </p>
              <div class="_pdf_links">
                <a target="_blank" href="{{../document_path}}/img/documents/uploads/file_f-1654158433143.pdf"
                  class="ml-1">
                  <img class="pdf" src="{{../site_url}}/img/view-pdf.png" alt="view">
                </a>
                <a data-href="{{../document_path}}/img/documents/uploads/file_f-1654158433143.pdf"
                  class="ml-1 download_file">
                  <img class="pdf" src="{{../site_url}}/img/download-pdf.png" alt="view">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</main>

<script>
  $(document).ready(function () {
    {{!-- $('._issue_date').each(function () {
      var date = this.innerHTML;
      var newDate = date.split(' ').slice(3, 6);
      this.innerHTML = `Publish Date: ${newDate[1] + ' ' + newDate[0] + ', ' + newDate[2]}`;
    }) --}}
  })
</script>