<div class="_page_head rti-bg">
    <p class="_heading">Right To Information</p>
</div>
<main class="_page_wrapper lab_policy_page rti_page">
    <div>
        <p><b>Bringing Information to the Citizens</b></p>
        <p>Right to Information Act 2005 mandates timely response to citizen requests for government information. It is an initiative taken by Department of Personnel and Training, Ministry of Personnel, Public Grievances and Pensions to provide a– RTI  Portal Gateway to the citizens for quick search of information on the details of first Appellate Authorities,PIOs   etc. amongst others, besides access to RTI related information / disclosures published on the web by various Public Authorities under the government of India as well as the State Governments.</p>

        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582272872915.pdf" target="_blank">Manual of the Right to Information Act, 2005 ....... click here</a><br />
	<a href="https://mnre.gov.in/img/documents/uploads/file_s-1655986797563.pdf">Lists of officers designated as Appellate Authorities and CPIOs (as on  20.06.2022) under RTI Act 2005 ....... click here</a><br /><br />

        <p><b>For Reports / Returns / Status / Appeals and their Replies:</b></p>
        <ul>
		 <li>
                <a href="https://mnre.gov.in/img/documents/uploads/file_s-1629708759873.pdf" target="_blank" class="external_link"
                    target="_blank">Appointment of Nodal Officer for suo - motu disclosures</a>
            </li>
            <li>
                <a href="http://dsscic.nic.in/users/pn-login" class="external_link"
                    target="_blank">For Quarterly Returns</a>
            </li>
            <li>
                <a href="https://rtionline.gov.in/" class="external_link"
                    target="_blank">For Filing Online RTI Application</a>
            </li>
		<li>
                <a href="https://mnre.gov.in/img/documents/uploads/file_s-1636360313393.pdf" class="external_link"
                    target="_blank">Third party audit of suo motu disclosures of information under Section 4 of the RTI Act, 2005 year 2020-21</a>
            </li>


            <li>
                Monthly RTI Status
                <ul>
<li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_f-1657175529945.pdf" target="_blank">Status of Pending RTI Appeals as on 30.06.2022</a>
                    </li>

{{#each articles}}

<li>
                        <a href="{{../document_path}}{{this.file.url}}" target="_blank">
{{#ifCond ../language "EN"}}
                                {{this.title}}
                                {{else}}
                                {{this.title_hi}}
                                {{/ifCond}}
</a>
                    </li>

				

{{/each}}



{{!-- 
<li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1649386193458.pdf" target="_blank">Status of Pending RTI Appeals as on 31.03.2022</a>
                    </li>
<li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1646300307947.pdf" target="_blank">Status of Pending RTI Appeals as on 28.02.2022</a>
                    </li>
<li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1644219942209.pdf" target="_blank">Status of Pending RTI Appeals as on 31.01.2022</a>
                    </li>

<li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1641358314860.pdf" target="_blank">Status of Pending RTI Appeals as on 31.12.2021</a>
                    </li>

<li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1639051036876.pdf" target="_blank">Status of Pending RTI Appeals as on 30.11.2021</a>
                    </li>

<li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1636102515097.pdf" target="_blank">Status of Pending RTI Appeals as on 31.10.2021</a>
                    </li>

<li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_f-1633933238881.pdf" target="_blank">Status of Pending RTI Appeals as on 30.09.2021</a>
                    </li>

<li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1630922085637.pdf" target="_blank">Status of Pending RTI Appeals as on 31.08.2021</a>
                    </li>
<li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1628155137308.pdf" target="_blank">Status of Pending RTI Appeals as on 31.07.2021</a>
                    </li>

<li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1628229216114.pdf" target="_blank">Status of Pending RTI Appeals as on 30.06.2021</a>
                    </li>

	<li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1622636047824.pdf" target="_blank">Status of Pending RTI Appeals as on 31.05.2021</a>
                    </li>
	<li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1620377192184.pdf" target="_blank">Status of Pending RTI Appeals as on 30.04.2021</a>
                    </li>

	<li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1617711790124.pdf" target="_blank">Status of Pending RTI Appeals as on 31.03.2021</a>
                    </li>
	 <li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1614846666851.pdf" target="_blank">Status of Pending RTI Appeals as on 28.02.2021</a>
                    </li>



		 <li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1612958325386.pdf" target="_blank">Status of Pending RTI Appeals as on  31.01.2021</a>
                    </li>


		 <li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1610346513331.pdf" target="_blank">Status of Pending RTI Appeals as on 31.12.2020</a>
                    </li>


                 <li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1607062110771.pdf" target="_blank">Status of Pending RTI Appeals as on 30.11.2020</a>
                    </li>
		            <li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1604916790830.pdf" target="_blank">Status of Pending RTI Appeals as on 31.10.2020</a>
                    </li>

                     <li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1599446419591.docx" target="_blank">Status of Pending RTI Appeals as on 31.08.2020</a>
                    </li>
                     <li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1597120762272.docx" target="_blank">Status of Pending RTI Appeals as on 31.07.2020</a>
                    </li>
                    <li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1597120391773.docx" target="_blank">Status of Pending RTI Appeals as on 29.02.2020</a>
                    </li>
                     <li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1597120342083.docx" target="_blank">Status of Pending RTI Appeals as on 31.01.2020</a>
                    </li>
                     <li>
                        <a href="https://mnre.gov.in/img/documents/uploads/file_s-1597120016315.docx" target="_blank">Status of Pending RTI Appeals as on 31.12.2019</a>
                    </li>


                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582273933398.pdf" target="_blank">Status of Pending RTI Appeals as on 30.11.2019</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582273964233.pdf" target="_blank">Status of Pending RTI Appeals as on 31.10.2019</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274212195.pdf" target="_blank">Status of Pending RTI Appeals as on 30.09.2019</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274255270.pdf" target="_blank">Status of Pending RTI Appeals as on 31.08.2019</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274295504.pdf" target="_blank">Status of Pending RTI Appeals as on 31.07.2019</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274332523.pdf" target="_blank">Status of Pending RTI Appeals as on 30.06.2019</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274367707.pdf" target="_blank">Status of Pending RTI Appeals as on 31.05.2019</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274409152.pdf" target="_blank">Status of Pending RTI Appeals as on 30.04.2019</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274455348.pdf" target="_blank">Status of Pending RTI Appeals as on 31.03.2019</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274491960.pdf" target="_blank">Status of Pending RTI Appeals as on 28.02.2019</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274525709.pdf" target="_blank">Status of Pending RTI Appeals as on 31.01.2019</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274559627.pdf" target="_blank">Status of Pending RTI Appeals as on 31.12.2018</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274594306.pdf" target="_blank">Status of Pending RTI Appeals as on 30.11.2018</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274626947.pdf" target="_blank">Status of Pending RTI Appeals as on 31.10.2018</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274657628.pdf" target="_blank">Status of Pending RTI Appeals as on 30.09.2018</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274693840.pdf" target="_blank">Status of Pending RTI Appeals as on 31.08.2018</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274728143.pdf" target="_blank">Status of Pending RTI Appeals as on 31.07.2018</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274763938.pdf" target="_blank">Status of Pending RTI Appeals as on 30.06.2018</a>
                    </li>
                    <li>
                        <a href="http://mnre.gov.in/img/documents/uploads/file_s-1582274802260.pdf" target="_blank">Status of Pending RTI Appeals as on 31.05.2018</a>
                    </li>
		   
                </ul>
            </li> --}}

             <li>
                <a href="https://mnre.gov.in/img/documents/uploads/file_s-1644554204935.pdf"
                    target="_blank">Chapter 10 of RTI Manual as on (10.02.2022) </a>
            </li>
           
        </ul>

        <a href="https://rti.gov.in" target="_blank" class="external_link">Visit RTI Website</a>
        
        {{!-- {{#description}}
            {{{this.description}}}
        {{/description}} --}}
    </div>
</main>